

.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  -webkit-filter: inherit;
          filter: inherit; }

.ui-slider-horizontal {
  height: .5rem; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333; }

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 2rem;
  width: 2rem;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  border: 2px solid #000;
  background-color: #FFD202; }
  .ui-state-default:hover,
  .ui-widget-content .ui-state-default:hover,
  .ui-widget-header .ui-state-default:hover,
  .ui-button:hover {
    cursor: pointer; }

* {
  outline: none; }

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
 }

.calculator {
  background-color: #ECFFFB;
  text-align: center;
  padding: 3rem 0;
  min-height: 100vh; }
  .calculator__header {
    display: inline-block;
    position: relative;
    font-size: 3.8rem;
    padding: 2.5rem 6rem;
    position: relative;
    font-weight: 700; }
    .calculator__header:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3.5rem;
      height: 100%;
      border: 1rem solid #2D767F;
      border-right: none; }
    .calculator__header:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 3.5rem;
      height: 100%;
      border: 1rem solid #2D767F;
      border-left: none; }
  .calculator__subtitle {
    font-size: 1.6rem;
    position: relative;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .calculator__body {
    z-index: 309;
    -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding-bottom: 26px;
    position: relative;
    padding: 1.5rem 8rem; }
  .calculator__number {
    font-size: 4.5rem;
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    color: #2D767F;
    margin-bottom: .5rem; }
    .calculator__number:after {
      content: '-';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 4.5rem;
      color: inherit;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    .calculator__number:before {
      content: '-';
      position: absolute;
      top: 0;
      right: 0;
      font-size: 4.5rem;
      color: inherit;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%); }
  .calculator__item {
    margin-bottom: 1rem; }
    .calculator__item input {
      text-align: center;
      background-color: transparent;
      border: none;
      font-size: 1.4rem;
      margin-top: 2rem;
      margin-bottom: 1rem; }
  .calculator__what {
    font-size: 1.8rem;
    text-transform: uppercase; }
    .calculator__what + ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-transform: uppercase; }
      .calculator__what + ul li {
        margin: 2rem; }
      .calculator__what + ul input {
        opacity: 0;
        position: absolute;
        z-index: -1; }
  .calculator__img {
    width: 13.5rem;
    height: 13.5rem;
    overflow: hidden;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
    border: 4px solid #fff;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .calculator__img.active {
      border-color: #FFD202; }
    .calculator__img img {
      width: 100%; }
  .calculator label {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .calculator__type__sec label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .calculator__type__sec li {
    width: 47%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 1rem;
    padding-right: 1rem; }
  .calculator__type-name {
    width: 100%; }
  .calculator__result {
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 3rem; 
    padding: 1.5rem;
    border: 2px solid #ffd202;}
    .calculator__result span {
      font-size: inherit; }

.buy__btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #FFD202;
  text-transform: uppercase;
  margin-bottom: 2rem;
  min-width: 15rem;
  -webkit-transition: .5s;
  transition: .5s; }
  .buy__btn:hover {
    cursor: pointer;
    background-color: #B4F1F1; }

.value {
  position: absolute;
  top: -1rem;
  font-size: 1.4rem;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
  .value__min {
    left: 0; }
  .value__max {
    right: 0; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none; }
  .popup__close {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 3rem; }
    .popup__close:hover {
      cursor: pointer; }
  .popup__box {
    position: relative;
    background-color: #ECFFFB;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 40rem;
    padding: 3rem 2rem;
    margin-top: 10vh;
    text-align: center; }
  .popup__header {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .popup input {
    display: block;
    background-color: #fff;
    border: none;
    border-top: 4px solid #E2E2E1;
    width: 100%;
    padding: 6px 6px 6px 63px;
    font-size: 1.4rem;
    line-height: 4rem;
        box-sizing: border-box;
    background: #fff url("../img/form12_people.png") 20px 50% no-repeat; }
    .popup input:nth-child(7) {
      background-image: url("../img/form12_mail.png"); }
    .popup input:nth-child(8) {
      background-image: url("../img/form12_phone.png"); }
    .popup input.error {
      border-color: red; }
      .popup input.error::-webkit-input-placeholder {
        color: red; }
      .popup input.error::-moz-placeholder {
        color: red; }
      .popup input.error:-ms-input-placeholder {
        color: red; }
      .popup input.error::placeholder {
        color: red; }
  .popup__good {
    margin-top: 1rem;
    position: absolute;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .5s;
    transition: .5s; }
    .popup__good.active {
      position: relative;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  .popup .btn {
    color: #fff;
    border: none;
    width: 100%;
    background-color: #2D767F;
    text-align: center;
    text-transform: uppercase;
    line-height: 17px;
    font-weight: 700;
    padding: 16px 0px;
    margin-top: 1rem; }
    .popup .btn:hover {
      cursor: pointer;
      background-color: #3a99a5; }

@media (max-width: 991px) {
  html {
    font-size: 9px; } }

@media (max-width: 769px) {
  html {
    font-size: 8px; }
  .calculator__header {
    font-size: 3rem;
    padding: 1.5rem 4rem; }
  .calculator__subtitle {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .calculator__body {
    padding: 2rem; }
  .calculator__what + ul li {
    margin: 2rem 1rem; } }

@media (max-width: 480px) {
  .calculator__header {
    font-size: 2rem; } }
    
    #u19331, #u3121{
        z-index: 999;
    }
