@media (max-width: 1200px) {
    .nav__list {
        flex-direction: column;
    }
   .review__slider--letter.slick-slider .slick-track{
        height: 36rem;
    }
    .review__slider--letter .review__slider--item a{
        height: auto;
        padding: 1rem;
        img{
            width: 100%;
        }
    }

    .risk__item {
        font-size: 1.6rem;
    }

    .example__item--img {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 23rem;
    }

    .risk__subheader {
        font-size: 2rem;
    }
    .example__item--img{
        height: 23rem;
    }
    .example__item--img img {
        width: auto;
        height: 100%
    }

    .risk__header {
        font-size: 3rem;
    }

    .header {
        &__contact {
            display: block;
            text-align: center;
            margin-left: auto;

            a {
                display: block;
            }

            .btn {
                margin-top: 1rem;
            }
        }

        &__nav {
            position: absolute;
            transition: .5s;
            right: 0;
            bottom: 0;
            list-style-type: 0;
            z-index: 10;
            padding: 2rem;
            border-radius: 0 0 0 3rem;
            box-shadow: -5px 5px 15px rgba(#000, .1);

            background-color: #fff;
            display: flex;
            flex-direction: column;
            transform: translate(0%, -250%);

            &.active {
                transform: translate(0%, 100%)
            }




        }

        &__burger {
            display: block;
            position: relative;
            z-index: 6;
            margin-left: 2rem;

            &.active {
                span {
                    background-color: transparent;

                    &:before {
                        bottom: 0;
                        transform: rotate(45deg)
                    }

                    &:after {
                        top: 0;
                        transform: rotate(-45deg)
                    }
                }
            }

            span {
                display: inline-block;
                position: relative;
                width: 3rem;
                height: 4px;
                background-color: #1a535c;
                border-radius: 5px;
                position: relative;
                transition: .5s;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #1a535c;
                    border-radius: 5px;
                    transition: .5s;
                    left: 0;
                    top: 0;

                }

                &:after {
                    top: -1rem;
                }

                &:before {
                    top: auto;
                    bottom: -1rem;
                }
            }
        }
    }

    .main {
        &__header {
            font-size: 4.5rem;
        }
    }

    .advantages {
        padding-bottom: 2rem;

        .container {
            flex-wrap: wrap;
        }

        &__item {
            width: 33.3333333%;
            margin-bottom: 3rem;

            &--img {
                img {
                    max-width: 10rem;
                }
            }
        }
    }

    .blockHeader {
        font-size: 3.5rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 9px;
    }
   .review__slider--letter.slick-slider .slick-track{
        height: 28rem;
    }
    .risk__item {
        width: 100%;
    }

    .risk__form {
        flex-direction: column;

        .input__box {
            width: 100%;
            margin-bottom: 1rem;
        }
        &--btn{
            width: 100%;
            max-width: 35rem;
            margin-right: auto;margin-left: auto;
            margin-top: 2rem;
            padding: 1.3rem;
        }
    }


    .main {
        &__header {
            font-size: 3.5rem;
        }

        &__form {
            &--header {
                font-size: 1.8rem;
            }
        }
    }

    .product__item {
        width: calc(50% - 15px);
    }

    .product__item--img {
        max-height: 24rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product__item--link {
        font-size: 1.8rem;
    }

    .footer {
        &__logo {
            width: 100%;
            text-align: center;
            padding-bottom: 2rem;

            img {
                max-width: 100%;
            }
        }

        .container {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        &__contact {
            margin: 0;
            margin-right: 3rem;
        }
    }

    .calculator__item,
    .calculator__result {
        width: 100%;
    }

    .calculator__type-name {
        font-size: 1.3rem;
    }
    .example__header{
        font-size: 3em;
    }
    .example__item {
        width: 50%;
        &--img{
            height: 20rem;
            width: 25rem;
            margin-right: auto;margin-left: auto;
        }

    }
}


@media (max-width:768px) {
    html {
        font-size: 8px;
    }

    .header__logo {
        width: 100%;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .header {
        position: relative;

        &.fixed {
            position: fixed;

            .header__logo {
                display: none;
            }
        }

        .container {
            flex-wrap: wrap;
        }

        &__contact {
            margin-left: auto;
            margin-right: auto;

            a {
                display: inline-block;
            }
        }
    }

    .main {
        &__header {
            font-size: 3rem;

        }

        padding-top: 7rem;
        padding-bottom: 7rem;

        &__form {
            max-width: 50rem;

            &--header {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            &--subheader {
                font-size: 1.6rem;
            }

            flex-direction: column;

            .input__box {
                width: 100%;
                margin-bottom: 1rem;

                input {
                    font-size: 1.7rem;
                }
            }

            &--btn {
                margin-top: 3rem;
                width: 100%;
                padding: 1.5rem;
            }
        }
    }

    .blockHeader {
        font-size: 3rem;
    }

    .product__item--img {
        height: 22rem;

        img {
            width: auto;
            height: 100%;
        }
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;

        &__map {
            position: relative;
            height: 30rem;
        }

        .container {
            padding: 0;
            max-width: none;
        }

        &__content {
            width: 100%;
            max-width: none;
            min-height: auto;
        }
    }
    .share__item{
        width: 100%;
        padding: 0;margin-bottom: 2rem;
    }
    .share{
        .container{
            padding: 0;
        }
    }
}

@media (max-width: 576px) {
    .risk__header{
        font-size: 2rem;
    }
       .review__slider--letter.slick-slider .slick-track{
        height: 39rem;
    }
    .risk__item{
        padding-right: 4rem;
        &:after{
            right: 0;
        }
    }
    .risk__item--img img{
        width: 7rem;
    }
    .main {
        padding: 4rem 0;

        &__header {
            font-size: 2.3rem;
        }

        &__subheader {
            font-size: 1.4rem;
        }

        &__form {
            &--header {
                font-size: 1.8rem;
            }

            &--subheader {
                font-size: 1.5rem;
            }
        }
    }

    .advantages {
        padding-bottom: 2rem;

        .container {
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;
            margin-bottom: 3rem;

        }
    }

    .product__content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .product__item {
        width: 100%;
    }

    .product__item--img {
        height: 22rem;

        img {
            height: auto;
            width: 100%;
        }
    }

    .product {
        padding-top: 4rem;
    }

    .blockHeader {
        font-size: 2.2rem;
        padding: 1rem 3rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .certificate__header {
        font-size: 3rem;
    }

    .certificate__item {
        width: 20%;
    }

    .calculator__header {

        &:before,
        &:after {
            display: none;
        }

        padding: 0;
        margin: 1.5rem 0;
        font-size: 2.5rem;
    }

    .calculator__type--item {
        width: 100%;

        &.min {
            min-width: 50%;
        }
    }

    .pay__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pay__item {
        width: 50%;
        font-size: 1.7rem;
    }
    .materials__header{
        font-size: 2rem;
    }
    .materials__content{
        flex-wrap: wrap;
    }
    .materials__item{
        width: 100%;
        height: auto;
    }
    .example__header{
        font-size: 2.5rem;
    }
    .review__slider{
        padding: 0rem 4rem;
    }
    .review__arrow svg{
        height: 3rem;width: 3rem;
    }
}

@media (max-width: 480px) {
    .header {
        &__logo {
            margin-bottom: 1rem;
        }

        &__contact {
            margin-left: 0;
            display: flex;
            align-items: center;
            margin: 0;

        }

        .btn {
            font-size: 0;
            min-width: auto;
            width: 6rem;
            height: 4rem;
            margin: 0;
            border-radius: 6rem;
            background: #FFD202 url('../img/phone-receiver.svg') center no-repeat;
            background-size: auto 70%;
            margin-left: 4rem;
        }
    }

    .footer {
        &__contact {
            margin: 0;
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    .example__item {
        width: 100%;
    }
    .example__item--img{
        width: auto;
        height: auto;
        img{
            height: auto;
            width: 100%;
            max-width: 37rem;
        }
    }
}

@media (max-width: 320px) {}


