html {
    font-size: 10px;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    color: #01060d;
}

*,
h1,
h2,
h3,
p,
ul,
p {
    margin: 0;
    padding: 0;
    outline: none;
}

$main: #ffe400;
$mainDark :#a79923;

.list {
    padding: 0;
    list-style: none;

    li {
        font-size: 2.2rem;
        margin-bottom: 1.4rem;
        padding-left: 1.4rem+.3rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: .25rem;
            width: .3rem;
            height: 2.5rem;
            background-color: $main;
        }
    }
}

.btn {
    background-color: $main;
    border: none;
    border-bottom: .5rem solid $mainDark;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    padding: 1.5rem;
    display: block;
    max-width: 22.9rem;
    border-radius: 1.1rem;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .5s;
    font-family: 'Roboto', sans-serif;

    svg {
        height: .9rem;
        fill: #000;
        position: absolute;
        right: 1.1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 2.5rem;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 0) 100%);
        top: 0;
        right: 5rem;
        transform: skewX(-40deg);
        transition: .5s;
        animation: btnAnima 1.7s cubic-bezier(.17, .67, .83, .67) infinite;
    }

    &:hover {
        cursor: pointer;
        background-color: #ffc600;
    }

    &:active {
        border-bottom-width: 0px;
        // margin-bottom: .5rem;
        // margin-top: .5rem;
        // margin-bottom: .5rem;
    }
    &Box{
        display: flex;
        align-items: flex-end;
        height: 5.5rem;
        width: 100%;
        max-width: 22.9rem;
    }
}

@keyframes btnAnima {
    0% {
        right: 120%;
    }

    100% {
        right: -40%;
    }
}

.blockHeader {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 1.45;
    text-transform: uppercase;

    span {
        display: block;
    }

}

.subtitle {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.45;
    margin-bottom: 3rem;
    letter-spacing: .04rem;

    span {
        display: block;
    }
}



.radio {
    display: none;
}

.radio-custom {
    width: 2rem;
    height: 2rem;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    margin-right: 1rem;
}

.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.radio:checked+.radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: $main;

}

.radio-custom,
.radio:checked+.radio-custom::before {
    border-radius: 50%;
}


.error__animate {
    animation: error .5s linear;
}

@keyframes error {
    0% {
        transform: translateX(-5px)
    }

    25% {
        transform: translateX(5px)
    }

    60% {
        transform: translateX(-3px)
    }

    70% {
        transform: translateX(3px)
    }

    90% {
        transform: translateX(-2px)
    }

    93% {
        transform: translateX(2px)
    }

    96% {
        transform: translateX(-1px)
    }

    100% {
        transform: translateX(0)
    }
}



.video {
    margin-left: -.8rem;
    width: 63.1rem;
    height: 30.2rem;
    padding: 1.8rem 8.3rem 5.7rem 8.6rem;
    background: transparent url('../img/laptop.png') center no-repeat;
    background-size: 100% 100%;
}

.inputBox{
	position: relative;
    svg{
        position: absolute;
        height: 1.6rem;
        fill: $main;
        left: 1.7rem;
        top: 50%;
        transform: translateY(-50%)
    }
}
input {
    border-radius: 1.1rem;
    border: 0.1rem solid #ffe400;
    background-color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Roboto';
    padding: 1.4rem;
    padding-left: 5.8rem;
    color: #000;
    width: 100%;

    &::placeholder {
        transition: .5s;
        color: #000;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }

}


.tel {
    &--mobile {
        display: none;
        color: inherit;
        text-decoration: none;
    }

    &--desctop {
        color: inherit;
    }
}
input.error {
    box-shadow: inset 0 0 45px rgba(red, .3) !important;
    border-color: red;
}

