@charset "UTF-8";

@-ms-viewport {
    width: device-width;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1230px;
    }
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

* {
    outline: none;
}

* {}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #e5e5e5;
}

*::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #999;
    -webkit-box-shadow: 0px 0px 38px 2px #999;
    box-shadow: 0px 0px 38px 2px #999;
}

body {
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    color: #000;
}

section {
    padding-bottom: 5rem;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    position: relative;
    padding: .5rem;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    left: 0;
    bottom: 0;
    opacity: .3;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .7s;
    transition: .7s;
}

a:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.section-header {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.main {
    padding: 2rem 0;
    font-family: 'Amatic SC', cursive;
    min-resolution: 100vh;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.main small {
    display: block;
}

.main h1 {
    font-size: 7rem;
}

.main h1+small {
    font-size: 5rem;
}

.main h1 {
    position: relative;
}

.main h2 {
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
}

.main-bottom {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #000;
    padding: 0 .7rem;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-left: none;
}

.main-bottom:after {
    display: none;
}

.main-bottom span {
    text-align: center;
}

.main-bottom span:nth-child(3) {
    font-size: 3rem;
}

.main-bottom span:nth-child(2) {
    font-size: 2.3rem;
}

.main-bottom span:nth-child(1) {
    font-size: 1.7rem;
}

.main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/photo_2018-03-28_23-23-35 (1).svg") 50% 80% no-repeat;
    background-size: 20%;
    opacity: .2;
}

.example-item a:after {
    display: none;
}

.info {
    text-align: center;
    padding: 5rem 0;
}

.info h2 {
    margin-bottom: 2rem;
}

.info-item {
    text-align: left;
    margin-top: 2rem;
    width: 23%;
    position: relative;
}

.info-item h3 {
    margin-bottom: 2rem;
}

.info-item-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .1;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s;
    transition: 1s;
}

.info-item-bg img {
    width: 50%;
}

.info-item:hover {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.info-item:hover .info-item-bg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

button,
.button {
    background-color: transparent;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 1rem 3rem;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: .5s;
    transition: .5s;
}

button:hover,
.button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

button:active,
.button:active {
    border-color: transparent;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.list li {
    margin-bottom: 3rem;
}

.list-in li {
    padding-left: 2rem;
    margin-bottom: 0;
}

.list h3 {
    margin-bottom: 1rem;
}

.who {
    position: relative;
}

.who .ava-box {
    position: absolute;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    right: 10%;
    top: 6rem;
    z-index: 5;
    text-align: center;
}

.who .ava-box img {
    height: 170%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    margin-right: auto;
    margin-left: auto;
}

.who ul {
    list-style: none;
}

.who small {
    display: block;
}

.who-review {
    -webkit-transform: translateY(-50%) scaleY(0);
    -ms-transform: translateY(-50%) scaleY(0);
    transform: translateY(-50%) scaleY(0);
    -webkit-transition: .5s;
    transition: .5s;
    position: absolute;
    opacity: 0;
}

.who-review .img-box {
    overflow: auto;
}

.who-review img {
    width: 100%;
    max-width: 900px;
    min-width: 800px;
}

.review-open {
    position: relative;
    display: inline-block;
    padding-right: 3rem;
}

.review-open:after {
    font-family: 'Amatic SC', cursive;
    content: '>';
    position: absolute;
    right: 0;
    top: 70%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    -webkit-transition: .5s;
    transition: .5s;
}

.review-open:hover {
    cursor: pointer;
}

.review-active {
    position: relative;
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
}

.review-active:after {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}

// .example-item {
//     width: 45%;
//     margin-bottom: 2rem;
//     padding: 0 0 20rem;
//     position: relative;
//     background: url("../img/imac-monitor-vector-930314.png") center top no-repeat;
//     background-size: 100% auto;
//     position: relative;
// }

// .example-item-box {
//     padding: 1.9rem 2.2rem 1.5rem;
//     position: relative;
// }

// .example-item-mask {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-color: rgba(255, 255, 255, 0.9);
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -webkit-transform: translate(-50%, -50%) scale(0);
//     -ms-transform: translate(-50%, -50%) scale(0);
//     transform: translate(-50%, -50%) scale(0);
//     -webkit-transition: .8s;
//     transition: .8s;
// }

// .example-item:hover {
//     cursor: pointer;
// }

// .example-item:hover .example-item-mask {
//     -webkit-transform: translate(0, 0) scale(1);
//     -ms-transform: translate(0, 0) scale(1);
//     transform: translate(0, 0) scale(1);
// }

// .example img {
//     width: 100%;
//     position: relative;
// }

input {
    display: block;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Poiret One', cursive;
}

input:focus {
    border: 1px solid #000;
}

textarea {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Poiret One', cursive;
    height: 15rem;
    min-height: 15rem;
    max-height: 15rem;
    resize: none
}

textarea:focus {
    border: 1px solid #000;
}

.contact h3 {
    margin-bottom: 3rem;
}

.contact form {
    text-align: center;
    width: 40%;
}

.contact form h4 {
    margin-bottom: 2rem;
}

.contact-info {
    position: relative;
}

.contact-item {
    margin-bottom: 1rem;
}

.contact-item span,
.contact-item a {
    position: relative;
    z-index: 5;
}

.contact-item:after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 0%;
    background: url("../img/005-vk-draw-logo.svg") center no-repeat;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.contact-item:nth-child(3):after {
    background-image: url("../img/004-telegram.svg");
}

.contact-item:nth-child(4):after {
    background-image: url("../img/003-viber.svg");
}

.contact-item:nth-child(5):after {
    background-image: url("../img/001-smartphone-call.svg");
}

.contact-item:nth-child(6):after {
    background-image: url("../img/001-skype-logo.svg");
}

.contact-item:hover:after {
    opacity: .1;
}

.answer-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.answer-title {
    position: relative;
}

.answer-title:hover {
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
    font-weight: 700;
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

.footer {
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2rem 0;
}

.active_block {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

// .popup {
//     -webkit-transform: scale(0);
//     -ms-transform: scale(0);
//     transform: scale(0);
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 100;
//     background-color: rgba(0, 0, 0, 0.5);
//     text-align: center;
// }

.popup-button {
    height: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.popup-button:hover {
    cursor: pointer;
}

.popup-header {
    width: 100%;
    background-color: #fff;
    padding: .5vh;
    height: 5vh;
    position: relative;
    padding-right: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-header img {
    height: 100%;
}

.popup-close {
    content: '';
    position: absolute;
    height: 100%;
    width: 30px;
    top: 0;
    right: 1rem;
    opacity: .5;
}

.popup-close:after,
.popup-close:before {
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: #000;
    top: 10%;
    left: 50%;
}

.popup-close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup-close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-close:hover {
    cursor: pointer;
    opacity: 1;
}

.popup iframe {
    width: 100%;
    height: 95vh;
    background-color: #fff;
}

.popup-up {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mpnitor {
    -webkit-transition: .5s;
    transition: .5s;
    margin-right: auto;
    margin-left: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ipad {
    max-width: 767px;
    margin-right: auto;
    margin-left: auto;
}

.phone {
    max-width: 320px;
    max-height: 480px;
    margin-top: 2rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:991px) {
    html {
        font-size: 9px;
    }

    .info-item {
        width: 45%;
        padding-bottom: 5rem;
    }
}

@media (max-width:769px) {
    .info-item {
        width: 90%;
    }

    .info-item-bg img {
        height: 100%;
    }

    // .example-item {
    //     width: 100%;
    // }

    .ava-box {
        display: none;
    }
}

@media (max-width:576px) {
    html {
        font-size: 9px;
    }

    .main h1 {
        font-size: 4rem;
    }

    .main h1+small {
        font-size: 3rem;
    }
}

@media (max-width:480px) {
    padding: 0 0 13rem;
}


.example {
    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }

    &-item {
        width: 33.333333%;
        overflow: hidden;
        position: relative;
        font-size: 0;
        margin-bottom: -2rem;
        transition: .5s;
        box-shadow: 0 -5px 15px rgba(#000, .3);

        &:after {
            // content:'';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: 10px solid #fff;
        }

        img {
            width: 100%;
        }

        &:hover {

            margin-top: -2rem;
            // z-index: 5;
            transform: scale(1.05);
            border-radius: 3px;
            z-index: 1;

            .example-item-mask {
                transform: translateY(0%);
            }
        }


        &-mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#fff, .3);
            // border: 1px solid #000;
            box-shadow: inset 0 0 40px rgba(#000, .5);
            // opacity: 0;
            transform: translateY(-100%);
            transition: .5s;

            .button {
                font-size: 2rem;
                background-color: #fff;
            }
        }
    }
}

.contact__popup {
    position: fixed;
    right: 0;
    top: 50%;

    transform: translate(100%, -50%);
    background-color: #fff;
    border: 1px solid rgba(#000, .5);
    border-radius: 5rem -0px 0 5rem;
    z-index: 50;
    transition: .5s;
    // padding: 1rem;

    padding: 3rem 1rem;
    border-right: none;

    &.active {
        transform: translate(0%, -50%);

        .contact__popup--open {
            svg {
                transform: scale(1, 1)
            }
        }
    }


    &--open {
        border: 1px solid rgba(#000, .5);
        height: 8rem;
        width: 5rem;
        background-color: #fff;
        border-radius: 50rem -0px 0 50rem;
        box-shadow: 0 0 15px rgba(#000, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: none;
        position: absolute;
        top: 50%;
        left: 0;
        transition: .5s;
        transform: translate(-100%, -50%);

        svg {
            transition: .5s;
            height: 3rem;
            transform: scale(-1, 1)
        }

    }

    img {
        width: 3rem;
    }

    &--item {
        position: relative;
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid rgba(#000, .4);
        padding-top: .5rem;
        // padding-right: .3rem;
        margin-bottom: 1rem;
        transition: .5s;

        &:hover {
            cursor: pointer;
            box-shadow: 5px 5px 10px rgba(#000, .3);
            border-color: #000;

            .contact__popup--name {
                transform: translate(-100%, -50%);
                color: #000;

            }
        }
    }

    &--name {
        position: absolute;
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(#000, .3);
        padding: 1rem;
        left: 0;
        top: 50%;
        height: 5.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-5rem, -50%);
        border: 1px solid rgba(#000, 1);
        border-radius: 5rem;
        padding-right: 5rem;
        margin-left: 5rem;
        transition: .5s;
        color: transparent;
        word-wrap: normal;
        white-space: nowrap;

        &:after {
            display: none;
        }

    }

    &--img {
        position: relative;
        z-index: 1;
        border-radius: 50%;
        background-color: #fff;
    }



    &:hover {
        cursor: pointer;
        // transform: translate(0%,-50%);
    }
}


.popup {
    &New {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        z-index: 100;
        display: none;
    }
    &__header{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 4rem;
        font-weight: 700;
    }
    &__text{
        text-align: center;
    }

    &__box {
        background-color: #fff;
        margin-right: auto;
        position: relative;
        margin-left: auto;
        max-width: 60rem;
        padding: 3rem 2rem;
        top: 50%;
        transform: translate(0, -50%);
        box-shadow: 0 0 15px rgba(#000, .5);
        border-radius: 5px;
        transition: .5s;
        width: 86%;

        &.hide {
            transform: translate(100vw, -50%);
        }

        input {
            margin-bottom: 1rem;
            display: inline-block;
            width: 80%;
        }

        label {
            display: inline-block;
            width: 18%;
        }

        .button {
            margin-right: auto;
            margin-left: auto;
            display: block;
        }




        /* Скрываем реальный чекбокс */
        .checkbox {
            display: none;
        }

        /* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
        .checkbox-custom {
            position: relative;
            width: 8.3rem;
            height: 4.5rem;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 7px;
            border-radius: 5rem;
            margin-bottom: .6rem;
            background-color: #eee;
            background: #eee url('../img/gmail.svg') 1rem center no-repeat;
            background-size: auto 45%;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: transparent url('../img/004-telegram.svg') 5rem center no-repeat;
                background-size: auto 45%;
                animation: animateCheckbax 5s infinite linear;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0.3rem;
                left: 0.3rem;
                bottom: 0.3rem;
                width: 3.7rem;
                box-shadow: 0 0 5px rgba(#000, .4);
                border-radius: 50%;
                background: #fff url('../img/gmail.svg') center no-repeat;
                background-size: 50%;
                transition: .5s;
                z-index: 1;
            }

            &:hover {
                cursor: pointer;
            }
        }

        /* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
        .checkbox-custom,
        .label {
            display: inline-block;
            vertical-align: middle;
        }

        /* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
        .checkbox:checked+.checkbox-custom::before {
            // left: auto;
            // right: .3rem;
            transform: translateX(100%);
            background-image: url('../img/004-telegram.svg');
        }


    }

    &__close {
        position: absolute;
        right: 0;
        top: 50%;
        background-color: #fff;
        border-radius: 0 50rem 50rem 0;
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
        }

        svg {
            height: 4rem;
            position: relative;
            z-index: 2;
        }

        transform: translate(100%, -50%);
        box-shadow: 10px 0 11px rgba(#000, .2)
    }

}

@keyframes animateCheckbax {
    0% {
        background-image: url('../img/001-skype-logo.svg');
    }

    25% {
        background-image: url('../img/003-viber.svg');
    }

    50% {
        background-image: url('../img/004-telegram.svg');
    }

    75% {
        background-image: url('../img/001-skype-logo.svg');
    }

    100% {
        background-image: url('../img/005-vk-draw-logo.svg');
    }
}


.form {
    &__text{
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 700;
    }
    &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        input {
            width: 49%;
        }

        .input__file {
            width: 49%;
            background-color: #eee;
            border: 1px solid rgba(#000, .5);
            border-radius: 3rem;
            height: 4.5rem;
            margin-bottom: 1rem;
            position: relative;
            overflow: hidden;
            &.error{
                border-color: red !important;
            }
            input {
                display: none;
            }
            &--text{
                padding: 1rem;
                display: flex;
                padding-right: 6rem;
                text-align: left;
            }
            &--btn{
                position: absolute;
                top: .3rem;right: .3rem;bottom: .3rem;
                width: 5rem;
                border-radius: 5rem;
                background:#fff url('../img/psd.svg') center no-repeat;
                background-size:auto 50%;
                box-shadow: 0 0 10px rgba(#000, .5);
                transition: .5s;
                &:hover{
                    cursor: pointer;
                }

            }


            .button {
                text-align: center;
                display: inline-block;
                // width: 100%;
                position: relative;
                left: 50%;
                transform: translateX(-50%)
            }
        }
    }

    &__contact {
        display: flex;

        .country {
            display: none;
        }

        .select {
            width: 100%;
            padding-right: 1rem;

        }
    }

    &__what {
        width: 100%;
        display: flex;
        background-color: #eee;
        border-radius: 5rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        height: 4.5rem;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
        &.error{
            border-color: red !important;
        }

        &:hover label {
            cursor: pointer;
        }


        &--active {
            position: absolute;
            height: 100%;
            width: 16.666666666666666%;
            left: 0;
            top: 0;
            transition: .5s;
            transform: translateX(-100%);

            &.active {
                transform: translateX(0)
            }

            // border: 1px solid red;
            &:after {
                content: '';
                position: absolute;
                top: .3rem;
                bottom: .3rem;
                width: 3.7rem;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0 0 5px rgba(#000, .3);
                background: #fff center no-repeat;
                background-size: auto 50%;

            }

            &.vk {
                &:after {
                    background-image: url('../img/005-vk-draw-logo.svg');
                }
            }

            &.telegram {
                &:after {
                    background-image: url('../img/004-telegram.svg');
                }
            }

            &.whatsapp {
                &:after {
                    background-image: url('../img/whatsapp-logo.svg');
                }
            }

            &.viber {
                &:after {
                    background-image: url('../img/003-viber.svg');
                }
            }

            &.skype {
                &:after {
                    background-image: url('../img/001-skype-logo.svg');
                }
            }

            &.mail {
                &:after {
                    background-image: url('../img/gmail.svg');
                }
            }
        }

        label {
            border-left: 1px solid #fff;

            &:first-child {
                border: none;
            }

            position: relative;
        }

        .radio {
            display: none;
        }

        .radio-custom {
            width: 100%;
            height: 4rem;
            // border: 1px solid red;
            background: transparent center no-repeat;
            background-size: auto 50%;

            &.vk {
                background-image: url('../img/005-vk-draw-logo.svg');
            }

            &.telegram {
                background-image: url('../img/004-telegram.svg');
            }

            &.whatsapp {
                background-image: url('../img/whatsapp-logo.svg');
            }

            &.viber {
                background-image: url('../img/003-viber.svg');
            }

            &.skype {
                background-image: url('../img/001-skype-logo.svg');
            }

            &.mail {
                background-image: url('../img/gmail.svg');
            }
        }

        .radio-custom,
        .label {
            display: inline-block;
            vertical-align: middle;
        }

        .radio:checked+.radio-custom::before {
            // content: "";
            display: block;
            position: absolute;
            top: 2px;

            bottom: 2px;
            width: 3.4rem;
            left: 50%;
            transform: translateX(-50%);

            border-radius: 50%;
            box-shadow: 0 0 10px rgba(#000, .3);
            background: inherit;
            background-color: #fff;
            transition: .5s // background-size: 40%   ;
        }


    }

}


input.contact__type {
    display: none;
    width: 100%;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;

    &.active {
        .select__active {
            &:before {
                transform: translateY(-50%) scale(-1, -1)
            }
        }
    }

    &__list {
        list-style: none;
        display: none;
        position: absolute;
        width:calc( 100% - 1rem);
        bottom: 0;
        // top: 0;
        left: 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 0 0 7px 7px;
        border-top: none;
        // margin-top: -1rem;
        text-align: right;

        transform: translateY(90%);
        padding-top: 1rem;

        li {
            transition: .5s;
            padding: .5rem 1rem;

            &:hover {
                cursor: pointer;
                background-color: #eee;
            }
        }
    }

    &__active {
        // margin-bottom: 3rem;
        padding: 1rem 1rem 1rem 2rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 7px;
        border-radius: 7px;
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        font-family: 'Poiret One', cursive;
        min-width: 7.3rem;
        text-align: right;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background: transparent url('../img/down-arrow.svg') center no-repeat;
            top: 50%;
            left: 1rem;
            width: 1rem;
            height: 1rem;
            background-size: 100% 100%;
            transform: translateY(-50%);
            transition: .5s
        }

        &:hover {
            cursor: pointer;
        }
    }
}




input.error {
    border-color: red !important;
}

.error__animate {
    animation: error .5s linear;
}

@keyframes error {
    0% {
        transform: translateX(-5px)
    }

    25% {
        transform: translateX(5px)
    }

    60% {
        transform: translateX(-3px)
    }

    70% {
        transform: translateX(3px)
    }

    90% {
        transform: translateX(-2px)
    }

    93% {
        transform: translateX(2px)
    }

    96% {
        transform: translateX(-1px)
    }

    100% {
        transform: translateX(0)
    }
}
