.header {
    padding-top: 2rem;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;

    .container {
        position: relative;
    }

    .flex {
        align-items: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &__more {
        transition: .5s;
        transform: scale(1, -1);

        svg {
            opacity: .4;
            width: 8px;
            height: 8px;

        }


    }

    &__logo {
        padding-right: 15px;
    }

    &__user {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        padding: 0 2rem;
    }

    &__more {
        padding: 0 1.6rem;
    }

    &__avatar {
        overflow: hidden;
        border-radius: 50%;
        font-size: 0;

        img {
            width: 100%;
        }
    }

    &__icon {
        margin: 0 .8rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__nav {
        width: calc(100% - 7.9rem);
        padding-right: 2rem;

    }

    &__plus {
        width: 6.4rem;
        height: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 50%;
        background-image: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        transform: translateY(50%);

    }

}

.nav {
    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__item {
        opacity: .6;
        font-weight: 600;
        font-size: 0;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        margin-right: 3.7rem;

        &:last-child {
            margin: 0;
        }

        a {
            text-decoration: none;
            display: inline-block;
            color: inherit;
            padding: 2.3rem 0;
            font-size: 14px;
            position: relative;
            overflow: hidden;


            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                background-image: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
                bottom: 0;
                left: 0;
                transition: .5s;
                transform: translateX(-100%)
            }

            &:hover {
                &:after {
                    transform: translateX(-50%)
                }
            }
        }

        &--active {
            opacity: 1;

            a {
                &:after {
                    transform: translateX(0%)
                }
            }
        }
    }
}

.main {
    padding-top: 6.5rem;

    .flex {
        align-items: flex-start;
    }

    &__user {
        width: 33.5%;
        padding-right: 4.7rem;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%-33.5%;
    }

    &__top {
        width: 100%;
        margin-bottom: 6.5rem;
        padding-left: 1.4rem;
        margin-top: .5rem;
    }

    &__item {
        width: calc(50% - 1.2rem);
        margin-left: 2.4rem;
        background-color: #fff;
        margin-bottom: 2.4rem;
        border-radius: .8rem;
        box-shadow: 0 24px 24px rgba(0, 0, 0, 0.12);
        display: flex;
        // align-items: flex-end;
        // justify-content: flex-start;
        // flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 2.4rem;
        min-height: 28rem;

        &:nth-child(2n) {
            margin-left: 0;
        }

        &-share {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            font-weight: 600;
            text-decoration: none;
        }

        &-hashtag {
            text-decoration: none;
            background-color: #ecf1f8;
            border-radius: 6px;
            display: inline-block;
            margin-left: .4rem;
            color: inherit;
            padding: .2rem .4rem;
        }

        &-header {
            font-size: 3.6rem;
            font-weight: 400;
            font-family: 'Montserrat';
            margin-bottom: 4.5rem;
            line-height: 1.2;
            width: 100%;

            &:first-child {
                margin-top: 3rem;
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }

        &-who {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-right: 1rem;
            margin-right: auto;
        }

        &-link {
            font-size: 1.8rem;
            text-decoration: none;
            color: #f05d63;
        }

        &-avatar {
            font-size: 0;
            width: 2.4rem;
            height: 2.4rem;
            min-width: 2.4rem;
            border-radius: 50%;
            background-color: #b2b3bb;
            overflow: hidden;
            margin-right: .8rem;

            img {
                width: 100%;
            }
        }

        &-name {
            font-size: 1.4rem;
            font-weight: 600;
        }

    }

    &__dop {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-ico {
            margin-right: .8rem;
            padding-left: 1.6rem;

            img {
                width: 16px;
            }
        }

        &-value {
            font-weight: 600;
            font-size: 14px;
        }
    }

    &__weblink {
        display: inline-block;
        padding-left: .4rem+1.6rem;
        position: relative;
        text-decoration: none;
        color: inherit;

        &:before {
            content: '';
            position: absolute;
            width: 1.6rem;
            height: 1.6rem;
            background: transparent url('../img/link.svg') center no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%) scale(-1, 1);
        }
    }
}

.user {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &__main {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-bottom: 3.2rem;
        justify-content: flex-start;
        margin-top: .6rem;
    }

    &__popup {
        position: absolute;
        border-radius: 8px;
        background-color: #ffffff;
        padding: 2.4rem 0;
        min-width: 17.6rem;
        z-index: 10;
        box-shadow: 0 24px 24px rgba(0, 0, 0, 0.12);
        top: 4rem;
        right: 3rem;
        transition: .5s;
        transform: translate(-100vw, 0) scale(0);

        &.active {
            transform: translate(100%, 0) scale(1);
        }



        &-item {
            font-size: 1.6rem;
            font-weight: 600;
            padding: 1rem 1rem .8rem 6rem;
            transition: .5s;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                left: 2.4rem;
                top: 50%;
                transform: translateY(-50%);

            }

            &--report {
                &:before {
                    background: transparent url('../img/icon_edit.svg') center no-repeat;
                    background-size: 100% 100%;
                }
            }

            &--block {
                &:before {
                    background: transparent url('../img/icon_delete.svg') center no-repeat;
                    background-size: 100% 100%;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: #ecf1f8;
            }
        }
    }

    &__who {
        position: relative;

        &-menu {
            position: absolute;
            top: 0;
            right: 1rem;
            width: 2.4rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }

            span {
                display: block;
                height: 4px;
                width: 4px;
                border-radius: 50%;
                background-color: #3e4056;
                position: relative;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: inherit;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                }

                &:before {
                    transform: translateY(-6px)
                }

                &:after {
                    transform: translateY(6px)
                }
            }

        }
    }

    &__avatar {
        width: 12rem;
        height: 12rem;
        min-width: 12rem;
        margin-right: 2.4rem;
        font-size: 0;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;

        }
    }

    &__name {
        font-family: 'Montserrat', sans-serif;
        font-size: 600px;
        font-size: 2.4rem;
        margin-bottom: .9rem;
    }

    &__login {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__edit {
        text-decoration: underline;
        color: #f05d63;
        font-size: 1.6rem;
        padding-left: 2rem+.8rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: transparent url('../img/edit icon.svg') center no-repeat;
            background-size: 100% 100%;
        }
    }

    &__profile {
        width: 100%;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: flex-start;
        align-items: center;

        &-item {
            text-align: center;
            margin-right: 4rem;
            padding: 0 .4rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-value {
            color: #3e3f58;
            font-size: 1.8rem;
            display: block;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &-what {
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    &__about {
        font-size: 1.7rem;
        letter-spacing: 0.2px;
        line-height: 1.4;
    }

}



.checkbox {

    input[type=checkbox] {
        display: none;

        &:checked {
            +.checkbox__castom {
                &:after {
                    transform: translateX(4rem-1.8rem-.3rem-.3rem)
                }
            }
        }
    }

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;


    &__text {
        font-weight: 600;
        font-size: 1.6rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__castom {
        display: inline-block;
        width: 4rem;
        height: 2.4rem;
        background-color: #ed5267;
        margin: 0 3.1rem;
        border-radius: 2.4rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-color: #ffffff;
            width: 1.8rem;
            top: .3rem;
            left: .3rem;
            bottom: .3rem;
            border-radius: 50%;
            transition: .5s;
        }
    }

}