.header {
	&__burger{
		display: none;
	}
    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        position: relative;

        padding-top: 2.5rem;
        padding-bottom: 3.3rem;

        &:after {
            content: '';
            position: absolute;
            height: 1px;
            background-color: #073b4c;
            width: calc(100% - 3rem);
            bottom: 0;
            left: 1.5rem;
        }
    }



    &__nav {
        margin-left: auto;

        a {
            color: #1a535c;
            font-size: 2.4rem;
            display: inline-block;
            padding: .5rem;
            margin: 0 1.25rem;
            text-decoration: none;
            letter-spacing: .03rem;
        }
    }

    &__phone {
        font-size: 3rem;
        font-weight: bold;
        color: #1a535c;
        margin-left: 2rem;
    }

}

.logo {
    font-size: 3rem;
    color: #1a535c;
    font-weight: 700;
}

body {
    background: transparent url('../img/body__bg.png') right top no-repeat;
    background-position: 109% -22rem;
}

.main {
    position: relative;
    padding-bottom: 17.2rem;

    .container {
        position: relative;
        // margin-top: 11.7rem;
        padding-top: 11.7rem;
    }

    &__header {
        color: #1a535c;
        font-size: 4.8rem;
        font-weight: 700;
        margin-bottom: 2.2rem;

        letter-spacing: .12rem;
        line-height: 1.2;
        position: relative;z-index: 1;
    }

    &__subheader {
        color: #1a535c;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 4.9rem;
        letter-spacing: .038rem;
        position: relative;z-index: 1;
    }

    &__img {
        position: absolute;
        right: -13.8rem;
        top: -4.5rem;


    }
}

span.newLine {
    display: block;
}


.about {
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__img {
        margin-bottom: 1.2rem;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 9rem;
    }

    &__item {
        width: 33.333%;
        margin-bottom: 6.9rem;
        text-align: center;
        color: #35545c;

        &--header {
            font-size: 2.4rem;
            margin-bottom: 1.6rem;
        }

        &--text {
            font-size: 1.8rem;
            max-width: 25.4rem;
            letter-spacing: .04rem;
            line-height: 1.2;
            margin-right: auto;
            margin-left: auto;
        }

    }
}

.free {
    padding-top: 2.1rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

    }

    &__block {
        width: 50%;
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__header {
        color: #073b4c;
        font-size: 3.6rem;
        max-width: 34rem;
        margin-bottom: 1.6rem;
        letter-spacing: .11rem;
    }

    &__info {
        padding-left: 6.8rem;
        padding-right: 2rem;
    }

    &__subheader {
        font-weight: 400;
        color: #073b4c;
        font-size: 2.4rem;
        max-width: 38rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        letter-spacing: .05rem;
    }

    &__form {
        position: relative;
        max-width: 43.5rem;
        margin-bottom: 8rem;


        input {
            width: 100%;
            padding-right: 18.9rem;

        }
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 17.9rem;

    }

    &__comment {
        color: #073b4c;
        opacity: 0.5;
        font-size: 1.4rem;
        max-width: 46rem;
        letter-spacing: .04rem;
    }
}

.composition {
    padding-top: 8.4rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin-top: -.6rem;
    }

    &__item {
        width: 33.33333333%;
        // margin-bottom: 4rem;
        margin-bottom: -2rem;

        &--header {
            color: #35545c;
            font-size: 3rem;
            margin-bottom: .8rem;
            text-align: center;
            letter-spacing: .045rem;
            position: relative;
            z-index: 1;
        }

        &--img {
            // min-height: 18rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: 0;

            &.up {
                margin-top: -2.6rem;
            }

            img {
                max-width: 100%;
            }
        }
    }
}


.testing {
    padding-top: 3.5rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info {
        margin-left: auto;
        margin-right: 4rem;
    }

    &__header {
        color: #1a535c;
        font-size: 3.6rem;
        text-align: center;
        letter-spacing: .08rem;
        margin-bottom: 1.9rem;
        margin-top: 3.5rem;
    }

    &__img {
        margin-left: 12rem;
    }

    &__subheader {
        color: #1a535c;
        font-size: 2.4rem;
        text-align: center;
        letter-spacing: .04rem;
    }
}

.order {
    padding-top: 7.3rem;
    padding-bottom: 4.7rem;

    &__header {
        color: #1a535c;
        font-size: 3.6rem;
        margin-bottom: 2rem;
        letter-spacing: .1rem;
        text-align: center;
    }

    &__subheader {
        color: #1a535c;
        font-size: 2.4rem;
        max-width: 53rem;
        text-align: center;
        margin-bottom: 6.9rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__form {
        max-width: 77rem;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &--input {
            width: calc(50% - 1.5rem);
            margin-bottom: 2.8rem;

            input {
                width: 100%;
            }

            &.big {
                width: 100%;
            }

            &.min {
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    &:first-child {
                        width: 67%;
                    }

                    &:last-child {
                        width: 27%;
                    }
                }

            }
        }
    }

    &__btn {
        margin-right: auto;
        margin-left: auto;
        letter-spacing: .03rem;
        padding: 2rem 6rem;
        font-weight: 400;
    }
}

.select {
    width: 100%;
    &.hide{
        display: none;
    }



    font-size: 1.8rem;

    border: none;
    color: #bebebe;
    margin-bottom: 4.4rem;
    position: relative;
    position: relative;z-index: 10;
    &:hover{
    	cursor: pointer;
    }
    &.error{
    	.select__active{
    	box-shadow: inset 0 0 20px rgba(red, .3)}
    }

    &.active {
    	z-index: 20;
        .select__active {
            box-shadow: 0 0 15px rgba(#000, .2);
            &:before{
				transform: translateY(-50%) scale(1,-1)
            }
        }

    }

    &__active {
        position: relative;
        z-index: 16;
        border-radius: 3rem;
        padding: 2rem 3rem;
        background-color: #eff2f7;
        width: 100%;


        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #bebebe;
            top: 0;
            right: 7.2rem;
        }

        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 6px 0 6px;
            border-color: #bebebe transparent transparent transparent;
            right: 3.3rem;
            transition:.5s;
            top: 50%;
            transform: translateY(-50%)
        }
    }



    &__list {
    	display: none;
        border-radius: 3rem;
        position: absolute;
        width: 100%;
        background-color: #eff2f7;
        width: 100%;
        bottom: 6rem;
        left: 0;
        transform: translateY(100%);
        padding-top: 7rem;
        box-shadow: 0 5px 15px rgba(#000,.1);
        padding-bottom: 1rem;
        overflow: auto;
        max-height: 30rem;
        z-index: 15;

    &::-webkit-scrollbar {
        width: 0px;
        // height: 10px;
        background-color: rgba(#fff, .3);
        border-radius: 0px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: rgba(#000, 1);
        box-shadow: 0px 0px 0 0 red;
        border-radius: 0px;
    }


        li {
        	padding: 1rem 2rem;
        	transition:.5s;
        
        	&:hover{
        		cursor: pointer;
        		background-color: lighten(#eff2f7,5%);
        	}
        }
    }
}


.footer {

    svg {
        fill: #3B3B3B;
        height: 3.8rem;
        width: 3.8rem;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        padding-top: 3.5rem;
        padding-bottom: 4rem;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 1.5rem;
            width: calc(100% - 3rem);
            height: 1px;
            background-color: #073b4c;
        }
    }

    &__copyr {
        color: #bfbfbf;
        font-size: 1.6rem;
        max-width: 44rem;
        margin-top: .9rem;

    }

    &__social {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            margin: 0 .5rem;
            opacity: .5;
            transition: .5s;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__mid {
        text-align: center;
        padding: 0 1rem;
        margin-top: 1rem;
        margin-right: 3.5rem;

        a {
            display: block;
            color: #bfbfbf;
            font-size: 1.8rem;
        }
    }

    &__phone {
        color: #1a535c;
        font-size: 2.8rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 700;
    }

    &__btn {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}


.popup{
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000,.2);
	display: none;
	z-index: 500;
    overflow: auto;
        &::-webkit-scrollbar {
        width: 0px;
        // height: 10px;
        background-color: rgba(#fff, .3);
        border-radius: 0px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: rgba(#000, 1);
        box-shadow: 0px 0px 0 0 red;
        border-radius: 0px;
    }
	&__header{
		margin-bottom: 2rem;
		text-align: center;color: #1a535c;font-size: 3.6rem;
	}
    &__try{
        .popup__box{
            max-width: 75rem;
            padding-bottom: 3rem;
        }
    }
	&__box{
		background-color: #fff;
		max-width: 40rem;
		border-radius: 3rem;
		top: 5vh;
		position: relative;
		margin-right: auto;margin-left: auto;
		box-shadow: 0 0 15px rgba(#000,.3);
        margin-bottom: 2rem;

		padding: 2rem;
		padding-top: 3rem;
		svg{
			height: 2rem;width: 2rem;
		}
		input{
			width: 100%;
			margin-bottom: 1.5rem;
		}
		.btn{
			margin-right: auto;margin-left: auto;
			display: block;
		}
	}
	&__close{
		position: absolute;
		top: 2rem;
		right: 2rem;
		&:hover{
			cursor: pointer;
		}
	}
}