@media (max-width: 1500px) {
	.main__img{
		right: 0;
		max-width: 60rem;
		top: 8rem;
		img{
			width: 100%;
		}
	}
}
@media (max-width: 1200px) {
	.header{
		.container{
			padding-bottom: 2rem;
		}
		&__phone{
			margin-left: auto;
		}
		&__burger{
			display: block;
			position: relative;z-index: 6;
			margin-left: 2rem;
			&.active{
				span{
					background-color: transparent;
					&:before{
						bottom: 0;
						transform: rotate(45deg)
					}
					&:after{
						top: 0;
						transform: rotate(-45deg)
					}
				}
			}
			span{
				display: inline-block;
				position: relative;
				width: 3rem;height: 4px;
				background-color:#1a535c;
				border-radius: 5px;
				position: relative;
				transition: .5s;
				&:after, &:before{
					content:'';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color:#1a535c;
					border-radius: 5px;
					transition: .5s;
					left: 0;top: 0;

				}
				&:after{
					top: -1rem;
				}
				&:before{
					top: auto;bottom: -1rem;
				}
			}
		}
		&__nav{
			position: absolute;
			transition:.5s;
			right: 0;
			bottom: 0;
			list-style-type: 0;
			z-index: 10;
			padding: 2rem;
			border-radius: 0 0 0 3rem;
			box-shadow: -5px 5px 15px rgba(#000,.1);

			background-color: #fff;
			display: flex;
			flex-direction: column;
			transform: translate(0%,-100%);
			&.active{
				transform: translate(0%,100%)
			}




		}
	}
	.free__header{
		font-size: 3rem;
	}
	.free__subheader{
		font-size: 2rem;
		.newLine{
			display: inline;
		}
	}
	.free__form{
		margin-bottom: 6rem;
	}
	.free__comment{
		font-size: 1.2rem;
	}
	.footer .container{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.footer__left{
		width: 100%;
		text-align: center;
		margin-top: 2rem;
		order:5
	}
	.footer__copyr{
		margin-right: auto;margin-left: auto;
	}
}

@media (max-width: 992px) {
	html{
		font-size: 9px;
	}
	.main{
		text-align: center;
		padding-bottom: 3rem;
	}
	.main__img{
		position: relative;
		top: 0;
		margin-right: auto;margin-left: auto;
	}
	.free__content{
		flex-direction: column-reverse;
	}
	.free__block{
		text-align: center;
		width: 100%;
	}
	.free__img{
		max-width: 60rem;margin-right: auto;margin-left: auto;
		margin-bottom: 2rem;
	}
	.free__info{
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.testing .container{
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.testing__info{
		margin-right: auto;
	}
	.testing__img{
		margin: 0;margin-top: 4rem;
		img{
			max-width: 100%;
		}
	}
}


@media (max-width:768px) {
	html{
		font-size: 8px;
	}
	body{
		// background-size: 80% auto;
		background-position:  center -60rem;
	}
	.about__item{
		width: 50%;
	}
	.blockSubheader{
		font-size: 2.6rem;
	}
}

@media (max-width: 576px) {
	.main{
		.container{
			padding-top: 5rem;
		}
		&__header{
			font-size: 3rem;
		}
		&__subheader{
			font-size: 2rem;
		
		}
	}
	.header .container{
		flex-wrap: wrap;
		.logo{
			margin-right: auto;margin-left: auto;
			margin-bottom: .5rem;
		}
	}
	.free__btn{
		position: relative;
		margin-top: 2rem;
		width: 100%;
	}
	.free__form input{
		padding-right: 3rem;
	}
	.composition__item{
		width: 50%;
		&--header{
			font-size: 2rem;
		}
	}
	.testing__header, .order__header{
		font-size: 3rem;
	}
	.testing__subheader,.order__subheader{
		font-size: 2rem;
	}
	.order__form--input{
		width: 100%;
	}
	.order__btn{
		padding: 2rem 4rem;
		font-size: 1.45rem;
	}
	.order__subheader{
		margin-bottom: 3rem;
	}
	.footer .container{
		flex-direction: column;
		justify-content: center;align-items: center;
	}
	.footer__mid{
		margin: 0;margin-bottom: 2rem;
	}
}
@media (max-width: 480px) {
	.main{

		&__header{
			font-size: 2.5rem;
		}

	}
	.about__item{
		width: 100%;
	}
}

@media (max-width: 320px) {}


// .header,
// .main,
// .about,
// .free,
// .composition,
// .testing,
// .order,
// .footer{
// 	display: none;
// }

