/* Icons from directory "" */
.icon-Group-1,
.icon-Group-1\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 0;
    background-repeat: no-repeat
}

.icon-Group-1-dims {
    width: 12px;
    height: 8px
}

.icon-Group,
.icon-Group\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -8px;
    background-repeat: no-repeat
}

.icon-Group-dims {
    width: 11px;
    height: 11px
}

.icon-Vector-1,
.icon-Vector-1\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -19px;
    background-repeat: no-repeat
}

.icon-Vector-1-dims {
    width: 6px;
    height: 10px
}

.icon-Vector,
.icon-Vector\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -29px;
    background-repeat: no-repeat
}

.icon-Vector-dims {
    width: 12px;
    height: 12px
}

.icon-path18,
.icon-path18\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -41px;
    background-repeat: no-repeat
}

.icon-path18-dims {
    width: 16px;
    height: 11px
}

.icon-whatsapp-logo,
.icon-whatsapp-logo\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -52px;
    background-repeat: no-repeat
}

.icon-whatsapp-logo-dims {
    width: 11px;
    height: 11px
}