.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4.3rem;
    padding-top: 1.8rem;

    .btn {
        &.--min {
            margin-left: auto;
            margin-right: 1rem;
        }
    }

    &__logo {
        overflow: hidden;

        img {
      
        }
    }

}

.content {
    display: flex;
    flex-wrap: wrap;
}

.main {
    background: transparent url('../img/main__bg.jpg') 105% top no-repeat;
    background-size: contain;


    &__info {
        max-width: 65rem;
        width: 100%;
    }

    &__img {
        margin-left: auto;
        margin-bottom: -7.3rem;
        position: relative;
        z-index: 2;
    }
    &__slider{
        width: 35.4rem;
        margin-left: auto;
        margin-bottom: -7.3rem;
        position: relative;
        z-index: 2;
        overflow: hidden;
        border-radius: 5.2rem;
        background-color: #fff;
        padding: 4.8rem 2.3rem 2.2rem;
        img{
                width: 100%;
            }

        &:after{
            content: '';
            position: absolute;
            width: 100%;height: 100%;
            top: 0;left: 0;
            background: url('../img/phone__slider.png') center no-repeat;
            background-size: 100% 100%;
        }
    }


    &__header {
        margin-top: 10.2rem-4.3rem;
        font-weight: 300;
        font-size: 4.8rem;
        line-height: 1.22;
        max-width: 64rem;
        margin-bottom: 3rem;

        strong {
            font-weight: 500;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 4.5rem;

        &-item {
            width: calc(50% - 1.5rem);
            &:first-child{
                img{
                filter: invert(1);
                opacity: .2;
            }
            }
        }

        &-logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: -1rem;
            margin-bottom: .4rem;

            img,
            svg {
                margin: 1rem;
            }

        }

        &-text {
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 300;

            strong {
                font-weight: 500;
            }
        }
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3rem;

        input {
            margin-right: .7rem;
            width: 100%;
            max-width: 34.5rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &-item {
            width: 35px;
            height: 35px;
            background-color: red;
            border-radius: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            margin-bottom: 2.4rem;
            position: relative;
            transition: .5s;
            img{
                width: 19px;
            }

            &.--big {
                height: 63px;
                width: 64px;

                img {
                    width: 31px;
                    height: 31px;
                }
            }

            &.--whatsapp {
                background-color: #4EEB57;
            }

            &.--vk {
                background-color: #4775A6;
            }

            &.--fb {
                background-color: #3F66B0;
            }

            &.--viber {
                background-color: #7D3DAF;
            }

            &.--skype {
                background-color: #00A9E8;
            }

            &.--yandex {
                background-color: #E4E4E4;
            }

        }
    }

    &__comment {
        color: #A0A0A0;
        font-size: 12px;
        margin-top: -1.3rem;
        margin-left: -2.4rem;
    }
}

.service {
    background: #0059D8;
    color: #fff;

    &__slider {
        padding: 0 10rem;
    }

    &__slide {
        &-content {
            display: flex;
            align-items: flex-start;

        }

        &-social {

            font-size: 13px;

            position: absolute;
            line-height: 25px;
            right: 10px;
            bottom: 20px;



            &.--pos {
                &1 {
                    bottom: 16.8rem;
                    right: 44.9rem;
                }

                &2 {
                    bottom: 14.1rem;
                    right: 44.2rem;
                }

                &3 {
                    right: 43.3rem;
                    bottom: 11.1rem;
                }

                &4 {
                    bottom: 8.2rem;
                    right: 43rem;
                }

                &5 {
                    bottom: 5rem;
                    right: 32.7rem;
                }

                &6 {}

                &7 {}

                &8 {}

                &9 {
                    bottom: 4rem;
                    right: 10.8rem;
                }

                &10 {
                    bottom: 7.8rem-3rem;
                    right: 10.4rem;

                }

                &11 {
                    bottom: 8.2rem;
                    right: -1.6rem;
                }

                &12 {

                    bottom: 11rem;
                    right: -1rem;
                }

                &13 {
                    bottom: 14rem;
                    right: -.1rem;
                }


            }

            &.--right {
                padding-right: .9rem+2.5rem;

                &:before {
                    right: 0;
                    top: 0;
                }
            }

            &.--left {
                padding-left: .8rem+2.5rem;

                &:before {
                    left: 0;
                    right: auto;
                }
            }

            &.--top {
                padding-top: 25px;

                &:before {
                    right: 50%;
                    transform: translateX(50%)
                }
            }

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #fff url('../img/css_sprites.svg') no-repeat;

            }

            &.--vk {
                &:before {
                    background-position: -24px -95px;

                }
            }

            &.--fb {
                &:before {
                    background-position: -21px -235px;

                }
            }

            &.--inst {
                &:before {
                    background-position: -23px -164px;

                }
            }

            &.--PowerBi {
                &:before {
                    background-position: -23px -305px;
                }
            }

            &.--whatsapp {
                &:before {
                    background-position: -23px -742px;
                }
            }

            &.--crm {
                &:before {
                    background-position: -25px -595px;
                }
            }

            &.--yandex {
                width: 13rem;

                &:before {
                    background: #fff url('../img/css_sprites.png') no-repeat;
                    background-position: -16px -80px
                }
            }

            &.--google {
                width: 13rem;
                text-align: center;

                &:before {
                    background: #fff url('../img/css_sprites.png') no-repeat;
                    background-position: -18px -19px
                }
            }

            &.--viber {
                &:before {
                    background-position: -24px -24px;
                }
            }

            &.--yandexDialog {
                width: 13rem;

                &.--pos9 {
                    text-align: center;
                    line-height: 15px;
                }

                &:before {
                    background-position: -23px -813px
                }
            }

            &.--information {
                &:before {
                    background-position: -24px -524px;
                }
            }

            &.--buy {
                &:before {
                    background-position: -25px -668px;
                }
            }

            &.--realize {
                &:before {
                    background-position: -24px -451px;
                }
            }

            &.--share {
                &:before {
                    background-position: -24px -377px;
                }
            }


        }

        &-name {
            font-weight: 300;
            font-size: 5.2rem;
            margin-bottom: 1.2rem;
            margin-top: 11.9rem;
        }

        &-about {
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 1.22;
            margin-bottom: 3rem;
            span{
                display: block;
            }
        }

        &-description {
            font-size: 1.8rem;
            opacity: .8;
            line-height: 1.44;
            margin-bottom: 6rem;
            span{
                display: block;
            }
        }

        &-img {
            position: relative;
            margin-left: auto;
            margin-right: 5rem;

        }

        &-number {
            position: absolute;
            font-size: 10.2rem;
            font-weight: 300;
            opacity: .1;
            top: 17.5rem;
            right: -2.5rem;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        fill: none;
        opacity: .4;
        transition: .5s;
        z-index: 10;
        stroke: #fff;

        &.--prev {
            left: 0;
        }

        &.--next {
            right: 0;
            transform: translateY(-50%) scale(-1, 1);
        }

        &:hover {
            cursor: pointer;
            opacity: 1;
            fill: #fff;
            stroke: #6361FF;


        }

    }

    &__efficiency {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-value {
            font-weight: 200;
            font-size: 4.2rem;
            margin-right: 13px;
            vertical-align: middle;


            span {
                font-size: 6.2rem;
                // line-height: 1;
                vertical-align: middle;
            }
        }

        &-text {
            font-size: 1.8rem;
            opacity: .8;
            line-height: 1.4444444;
            max-width: 15rem;
        }
    }
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0;
    position: absolute;
    bottom: 7.6rem;
    left: 10rem;

    button {
        background-color: #fff;
        border: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        opacity: .32;
        transition: .5s;
        padding: 0;
        margin-right: .8rem;

        &:hover {
            cursor: pointer;
        }
    }

    .slick-active {
        button {
            opacity: 1;
        }
    }
}

.conversion {
    background: linear-gradient(261.92deg, #F7F8FA -0.43%, #FCFCFC 121.34%);
    padding: 6rem 0 7rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__header {
        font-weight: 300;
        font-size: 4.2rem;
        line-height: 1.23;
        max-width: 60rem;

        b {
            font-weight: 500;
        }
    }

    &__btn {
        margin-top: 2rem;
        margin-left: auto;
        min-width: 28.3rem;
        padding: 2.6rem 2.3rem
    }
}

.doubt {
    padding: 6rem 0 7.3rem;
    border-bottom: 1px solid #D5D5D5;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__img {
        margin-top: .5rem;
        font-size: 0;
        width: 100%;
        max-width: 48rem;

        img {
            width: 100%;
        }
    }

    &__info {
        padding-left: 2rem;
        margin-left: 5.9%;
        margin-top: 10rem;
    }

    &__header {
        margin-top: -2rem;
        font-size: 4.2rem;
        font-weight: 300;
        max-width: 46rem;
        line-height: 1.238;
        margin-bottom: 2.5rem;
        span{
            display: block;
        }

        strong {
            font-weight: 500;

        }
    }

    &__text {
        color: #808080;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.65;
        margin-bottom: 4rem;
        max-width: 55rem;
    }

    &__btn {
        min-width: 21rem;
    }



}

.management {
    padding: 12rem 0 5.5rem;
    background: transparent url('../img/management__bg.jpg') no-repeat;
    background-position: -514px 100%;

    &__header {
        font-size: 4.2rem;
        line-height: 1.428;
        font-weight: 300;
        margin-bottom: 3rem;
        text-align: center;
        span{
            display: block;
        }

        strong {
            font-weight: 500;
        }
    }

    &__subtitle {
        font-size: 2rem;
        color: #909090;
        margin-bottom: 5.5rem;
        text-align: center;
    }

    .content {
        max-width: 110rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__item {
        width: 33.333%;
        padding: 0 15px;
        margin-bottom: 5rem;
    }

    &__img {
        margin-bottom: 1rem;
        font-size: 0;
        text-align: center;
        height: 9.1rem;
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-content: center;
    }

    &__text {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 30rem;
        font-size: 2rem;
        line-height: 1.45;
    }
}

.mailing {
    background: linear-gradient(74.34deg, #0059D8 -4.74%, #4480D7 109.01%);
    color: #fff;
    padding: 9rem 0 5.5rem;

    &__header {
        text-align: center;
        font-size: 4.2rem;
        line-height: 1.45;
        margin-bottom: 3.6rem;
    }

    .content {
        justify-content: center;
        margin-left: -3rem;
        margin-right: -3rem;
    }

    &__item {
        width: calc(33.3333% - 2rem);
        max-width: 37rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;

        &-header {
            border-radius: 13px 13px 0px 0px;
            padding: 2.4rem;
            background-color: #fff;
            color: #000;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.22;
            span{
                display: block;
            }
        }
    }

    &__list {

        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
        height: 100%;
        padding: 4.9rem 2rem 10rem;
        font-size: 1.6rem;
        line-height: 1.43;
        padding-left: 3rem;


    }


}


.app {
    padding: 10rem 0;
    text-align: left;
    background: #FAFBFC;

    .container {
        background: transparent url('../img/app__img.svg') right center no-repeat;
        background-position: 95.5% 42%
    }

    &__header {
        font-size: 4.2rem;
        line-height: calc(60/42);
        margin-bottom: 3rem;
        span{
            display: block;
        }
    }

    &__list {
        font-size: 1.8rem;
        line-height: 1.45;

        li {
            max-width: 34rem;
        }

        &-header {
            font-weight: 500;
            font-size: 2.6rem;
            line-height: 1.45;
            margin-bottom: 2.2rem;
        }
    }

    .--double {
        max-width: 47rem;

        li {
            margin-bottom: 2rem;
        }
    }

    .list__comment {
        max-width: 30rem;
    }


}


.setting {
    padding: 10rem 0 3rem;

    &__header {
        font-size: 4.2rem;
        line-height: 1.45;
        margin-bottom: 5.5rem;
        text-align: center;
        margin-right: auto;margin-left: auto;
        max-width: 65rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -1.8rem;
        margin-right: -1.8rem;
    }

    &__item {
        width: 33.333333%;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.44;
        margin-bottom: 5rem;
        position: relative;
        z-index: 2;

        &:before {
            content: '';
            position: absolute;
            height: .8rem;
            width: 100%;
            left: 50%;
            top: 17px;
            background: #F5F6F7;
        }

        &:nth-child(3n) {
            &:before {
                display: none;
            }
        }


        &-number {
            font-size: 14px;
            line-height: 33px;
            color: #fff;
            background: #105CDA;
            border: 5px solid #FFFFFF;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.09);
            width: 43px;
            height: 43px;
            text-align: center;
            border-radius: 50%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1rem;
            position: relative;
            z-index: 3;
        }
    }
}


.video {
    &__content {
        background: #105CDA;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 110rem;
        margin-right: auto;
        margin-left: auto;
        height: 536px;
        min-height: 398px;
        width: 90%;

        position: relative;
        overflow: hidden;
        transition: 1.5s;

        &.active {
            background-color: transparent;

            .video__button,
            .video__text {
                opacity: 0;
                z-index: -2;
            }

            #player {
                z-index: 1;
            }
        }
    }

    &__button {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.3);
        line-height: 95px;
        text-align: center;
        height: 79px;
        width: 79px;
        border-radius: 50%;
        margin-bottom: 2.4rem;
        margin-top: 4rem;
        transition: 1.5s;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.6);
        }
    }

    &__text {
        text-align: center;
        opacity: .5;
        color: #fff;
        font-size: 1.8rem;
        line-height: 1.44;
        max-width: 26rem;
        transition: .5s
    }

    #player {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    iframe {
        border: none;
        width: 100%;
        position: absolute;
        z-index: -1;
        transition: .5s
    }
}


.tunnel {
    padding: 11rem 0 8rem;
    text-align: center;

    &__header {
        text-align: center;
        font-size: 4.2rem;
        margin-bottom: 3.3rem;
    }

    &__tabs {
        display: inline-flex;
        border-radius: 6px;
        background: #F7F7F7;
        margin-bottom: 3rem;
        padding: .7rem;

        &-item {
            font-weight: 500;
            font-size: 15px;
            line-height: 21px;
            color: #999999;
            padding: 1.35rem;
            width: 13.7rem;
            margin-right: 1.1rem;
            border-radius: 3px;
            transition:.5s;
            &:hover{
                cursor: pointer;
            }

            &:last-child {
                margin: 0;
            }

            &.--active {
                color: #fff;
                background: #105CDA;
            }
        }
    }

    &__img {
        margin-right: 2rem;
        position: relative;
        left: 3.5rem;
        top: .5rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 112rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__list {
        font-size: 1.6rem;
        line-height: 1.45;
        text-align: left;
        padding-left: 2rem;
        margin-top: 2.5rem;
        display: none;
        &.--active{
            display: block;
        }

        max-width: 60rem;

        li {
            margin-bottom: 2.2rem;
        }
    }
}

.integration {
    padding: 8.7rem 0 5rem;
    background: #FAFBFC;
    text-align: center;
  background: #FAFBFC;

    &__header {
        font-size: 4.2rem;
        line-height: 1.44;
        margin-bottom: 3rem;
        text-align: center;  position: relative;z-index: 1;
    }

    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 6rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    &__item {
        width: 25%;
        text-align: center;

        &-header {
            font-weight: 500;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &-company {
            opacity: .5;
            font-size: 1.6rem;
        }

        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;

            &.--bottom {
                position: relative;
                top: 1rem;
            }

            &.--top {
                position: relative;
                top: -1.5rem;

                img {
                    left: 1rem;
                    margin-right: 1rem;
                }
            }

            &.--column {
                flex-direction: column;

                img {
                    margin-bottom: 13px;
                }

            }
        }
    }

    &__btn {
        min-width: 26rem;
    }
}


.communication {
    padding: 12rem -0px 11.7rem;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100rem;
    }

    &__info {
        width: 57.5%
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
        margin-left: -15px;
        margin-right: -15px;
        max-width: 54rem;
        // width: 67.5%;
        width: 100%;

        margin-left: auto;
    }

    &__header {
        font-size: 4.2rem;
        line-height: 1.36;
        margin-bottom: 3rem;
        max-width: 42rem;
        margin-top: 8rem;

        span {
            display: block;
        }
    }

    &__subtitle {
        line-height: 1.55;
        font-size: 2rem;
        max-width: 287px;
        color: #8D8D8D;
    }

    &__item {
        background: #FFFFFF;
        max-width: 23.2rem;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.07);
        border-radius: 9px;
        margin-bottom: 15px;
        text-align: center;
        min-height: 110px;
        padding: 1.6rem 1.9rem 1.3rem;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(50% - 30px);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:nth-child(2n) {
            top: 37px-15px;
        }

        &-name {
            font-size: 1.6rem;
            font-weight: 500;
            text-align: center;
        }

        &-img {
            margin-bottom: .5rem;
            min-height: 51px;

            &.--circle {
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                width: 51px;
                height: 51px;
                padding: 13px;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 0;
                background-color: red;

                img {
                    width: 100%;
                }
            }

            &.--whatsapp {
                background: #4EEB57;
            }

            &.--sms {
                background: #2AB122;
            }

            &.--viber {
                background: #7D3DAF;
            }

            &.--mail {
                background: #91C1C2;
            }

            &.--vk {
                background: #4775A6;
            }

            &.--fb {
                background: #3F66B0;
            }
        }
    }
}


.intellect {
    padding: 6.7rem 0 3.4rem;
    background: #105CDA;
    color: #fff;


    .container {
        display: flex;
        align-items: flex-start;
    }

    &__content {
        padding-right: 3rem;
    }

    img {
        position: relative;
        left: -10rem;
    }

    &__header {
        max-width: 57rem;
        margin-bottom: 4rem;
        margin-left: 10rem;
        margin-top: 2.4rem;
    }

    &__item {
        max-width: 47rem;
        border: 1px solid rgba(#FFFFFF, .5);
        border-radius: 7px;
        margin-bottom: 15px;
        padding: 22px 3rem;
        margin-left: 10rem;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            top: 1.7rem;
            right: 2.4rem;

        }

        &.active {

            .intellect__item-name {
                &:before {
                    height: 0;
                }
            }
        }

        &-name {
            font-size: 1.6rem;
            font-weight: 500;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 12px;
                height: 1px;
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
                right: 4px;
            }

            &:before {
                content: '';
                position: absolute;
                height: 12px;
                width: 1px;
                background-color: #fff;
                top: 50%;transition: .5s;
                transform: translateY(-50%);
                right: 10px;
                

            }
        }

        &-list {
            font-size: 14px;
            // margin-bottom: 1rem;
            color: rgba(#fff, .6);
            margin-top: 2.8rem;

            li {
                margin-bottom: 1.5rem;
                padding-left: 2.7rem;
            }

            display: none;
        }

    }
}


.additional {
    padding: 10rem 0;
    background: #FAFBFC;
    text-align: center;

    &__header {
        margin-bottom: 5.5rem;
    }

    .content {
        justify-content: space-around;
        max-width: 100rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__item {
        margin-bottom: 2rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.37;
        padding: 0 2rem;
    }

    &__text{
        span{
            display: block;
        }
    }

    &__ico {
        font-size: 0;
        margin-bottom: 2rem;
    }

}


.understanding {
    padding: 10rem 0 5rem;

    &__header {
        text-align: center;
        max-width: 68rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4.8rem;
    }

    .content {
        // max-width: 97rem;margin-left: auto;margin-right: auto;
        position: relative;

    }

    &__img {
        position: relative;
        top: -2rem;
        right: -2rem;
    }

    &__info {
        margin-left: 10rem;
    }

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid #fff;
        border-radius: 11px;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        line-height: 1.35;
        padding: 3.6rem 5.8rem 4rem 3.9rem;
        max-width: 47rem;
        transition: .5s;
        border: 1px solid #E0E0E0;
            color: rgba(#000, .4);
        &:hover{
            cursor: default;
            border-color: #ffffff;
            color: #000;
            .understanding__item-number{
                 background: #105CDA;
                 color: #fff;
            }
        }

        &-number {
           
            border-radius: 50%;
            width: 49px;
            min-width: 49px;
            height: 49px;
            text-align: center;
            font-weight: 500;
            line-height: 49px;
            font-size: 16px;
            transition: .5s;
            margin-right: 3.5rem;
            background: #EEEEEE;
                color: #C2C2C2;
        }

 
    }

}

.efficiency {
    padding: 4.7rem 0 10rem;

    &__header {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        font-size: 2rem;
        color: #8D8D8D;
        text-align: center;
    }

    .content {
        align-items: flex-start;

        justify-content: center;
        margin-bottom: 2rem;
    }

    &__img {
        width: 37%;
        // display: flex;
        // align-items: center;
        position: relative;
        text-align: center;
        // justify-content: center;
        top: -23px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 29%;
        margin-top: 6.5rem;

        &.--email {
            text-align: right;
            justify-content: flex-end;

            .efficiency__item-indicator {
                margin-right: 0;
            }
        }

        &.--messenger {
            text-align: left;
            justify-content: flex-start;

            .efficiency__item-indicator {
                margin-left: 0;
            }

            .efficiency__item-value {
                font-weight: 500;
                color: #105CDA;
            }
        }

        &-header {
            font-size: 3.6rem;
            margin-bottom: 1.6rem;
            width: 100%;
        }

        &-subtitle {
            font-size: 1.8rem;
            line-height: 1.38;
            margin-bottom: 3.5rem;
            width: 100%;
            color: #8D8D8D;
            span{
                display: block;
            }
        }

        &-indicator {
            margin: 0 4.4rem;
            margin-bottom: 2rem;
            min-width: 12.5rem;
        }

        &-value {
            font-size: 3.6rem;
            margin-bottom: .5rem;
        }

        &-comment {
            opacity: .5;
            font-size: 14px;
            letter-spacing: 0.15em;


        }
    }

    &__result {
        font-size: 3rem;
        line-height: 1.36;
        text-align: center;

    }
}


.price {
    padding-top: 6.6rem;
    background: #105CDA;

    &__header {
        text-align: center;
        max-width: 95rem;
        margin-right: auto;
        margin-left: auto;
        color: #fff;
        margin-bottom: 4.5rem;
        line-height: 1.4;
    }

    &__content {
        display: flex;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 60px rgba(16, 92, 218, 0.1);
        border-radius: 21px;
        margin-bottom: -39.5rem;

    }

    &__item {
        width: 33.33%;
        text-align: center;
        padding: 6.2rem 2rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            height: 75%;
            width: 1px;
            top: 5%;
            right: 0;
            background-color: #105CDA;
            opacity: .1;

        }

        &-header {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 500;
            color: #586770;
            opacity: .9;
            margin-bottom: 3rem;
        }

        &-block {
            font-weight: 500;
            line-height: 18px;
            font-size: 13px;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #105CDA;
            opacity: 0.9;
            padding: 1.9rem 0;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 64%;
                height: 1px;
                background-color: #105CDA;
                opacity: .1;
                transform: translateX(-50%)
            }
        }

        &-value {
            font-size: 6rem;
            text-align: center;
            color: #105CDA;
            font-weight: 500;
            margin-top: 3rem;
            margin-bottom: 3rem;
            vertical-align: middle;

            span {
                opacity: 0.4;
                font-size: 14px;
                vertical-align: middle;
                position: relative;
                top: -.5rem;
                left: -.5rem;

            }

        }

        &-btn {
            &.btn {
                font-size: 1.6rem;
                min-width: 25.5rem;
                padding: 2.5rem 2rem;
                font-weight: 500;
            }

        }
    }
}

.meneger {
    padding: 50.5rem 0 9.7rem;
    background-color: #fff;

    &__header {
        text-align: center;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 68rem;
    }

    .content {
        align-items: flex-start;
        justify-content: center;
    }

    &__img {
        position: relative;
        left: 3.3rem;
    }

    &__list {
        margin-top: 3.5rem;
        width: 50%;
        font-size: 1.6rem;
        line-height: 1.43;
        padding-right: 4rem;

        li {
            margin-bottom: 2.4rem;
        }
    }
}

.try {
    padding: 10.3rem 0 8.5rem;
    background: transparent url('../img/try__bg.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;

    &__header {
        font-weight: 500;
        margin-bottom: 3rem;
        line-height: 1.25;

    }

    &__subtitle {
        font-size: 2rem;
        opacity: .7;
        margin-bottom: 4.5rem;
    }

    &__btn {
        &.--white {
            min-width: 28.3rem;
            padding: 2.5rem;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}


.contact {
    padding: 8.8rem 0 7rem;
    background: #FBFBFC;

    &__header {
        margin-bottom: .5rem;
        text-align: center;
    }

    &__subtitle {
        color: #8D8D8D;
        font-size: 2rem;
        text-align: center;
        line-height: 1.45;
        max-width: 47rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4.4rem;
    }

    &__content {
        display: flex;
        margin-right: -3rem;

    }

    &__info {
        padding-left: 7rem;
        // width: 50%;
    }

    &__item {
        position: relative;
        padding-left: 1.4rem+6.5rem;
        margin-bottom: 2.4rem;

        &-header {
            font-size: 1.8rem;
            line-height: 1.44;
            font-weight: 500;
            opacity: .5;
            margin-bottom: .3rem;
        }

        &-text {
            font-size: 2.6rem;
           
            font-weight: 500;
            line-height: 1.42;
            &.--mail{
                 color: rgba(#000,.5);
                font-size: 1.8rem;
                a{
                    font-size: 2.6rem;
                    color: #000;
                }
            }
            a{
                text-decoration: none;color:inherit;
                // display: block;
                
                
            }
            &.--tel {
                color: #105CDA;
                text-decoration: none;

            }
        }
    }

    &__ico {
        position: absolute;
        left: 0;
        top: 0;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        margin-right: 1rem;
        background: rgba(#105CDA, .1);
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 3rem;
        }

        &.--whatsapp {
            background: #4EEB57;
        }

    }

    &__form {
        max-width: 50rem;
        width: 100%;
        padding-top: 1rem;

        input {
            width: 100%;
            margin-bottom: 1rem;
        }

        textarea {
            height: 15rem;
            margin-bottom: 13px;
        }
    }

    &__btn {
        margin-left: 8rem;
        min-width: 19rem;
        margin-top: .5rem;
    }
}


.footer {
    padding: 2.8rem 0 3.4rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: relative;
    }

    &__btn.--white {
        min-width: 12.7rem;
    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    display: none;        
    z-index: 500;
            &::-webkit-scrollbar {
        width: 0px;
        // height: 10px;
        background-color: rgba(#fff, .3);
        border-radius: 0px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: rgba(#000, 1);
        box-shadow: 0px 0px 0 0 red;
        border-radius: 0px;
    }
    input{
        width: 100%;
        margin-bottom: .7rem;
    }
    textarea{
        margin-bottom: .7rem;
    }
    &__thanks{
        .popup__box{
            max-width: 40rem;
            min-height: 10rem;
            padding-top: 4rem;
            padding-bottom: 3rem;
        }
    }


    &__box {
        background: #FFFFFF;
        border-radius: 15px;
        max-width: 32rem;
        width: 100%;
        padding: 4rem 3rem 1.5rem;
        margin-right: auto;margin-left: auto;
        transition:.5s ;
        transform: translateY(-100vh);
        &.--active{
            transform: translateY(0)
        }

    }

    &__header {
        font-weight: 500;
        font-size: 3.2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__btn{
        margin-bottom: 1.8rem;
        display: block;
        width: 100%;
    }
    &__comment{
        color: #BEBEBE;
        font-size: 12px;
        text-align: center;

        a{
            color: #0059D8;
        }
    }


}

.entrance__type {
    display: flex;
    align-items: center;
    margin-bottom: 2.6rem;
    justify-content: center;
    max-width: 26rem;
    margin-left: auto;margin-right: auto;

    &-item {
        width: 50%;
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding-left: 1rem;

        &:hover {
            cursor: pointer;
        }

    }
}

input[type=radio] {
    display: none;

    &:checked {
        &+.radio-custom {
            border-color: $mainColor
        }
    }
}

.radio-custom {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border: 8px solid #E1E1E1;
    border-radius: 50%;
    margin-right: .8rem;
    transition: .5s;
    &.error{
        border-color: rgba(red,.3)
    }
}