@media (max-width: 1600px) {
	.popup__project--box{
		max-width: 1200px;
	}
	.popup__project--slider .square img{
		max-height: 40rem;
	}
}

@media (max-width: 1200px) {
	.main__header{
		font-size: 5rem;
	}
	.step__header{
		font-size: 4em;
	}
	.step__item--what{
		padding: 0 1rem;
	}
	.popup__project--slider{
		width: 100%;
	}
	.popup__info{
		width: 100%;
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		&--item{
			padding: 1rem;
			margin: 0;
		}
	}
	.popup__project--box .slick-track{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.popup__project--slider .square img{
		max-height: 60rem;
	}

}

@media (max-width: 992px) {
	.step{
		margin-top: 0;
	}
	.step__header{
		left: 50%;
		transform:translateX(-50%)
	}
	.main-header{
		align-items: center;
	}
	    .main-nav {
        transform: translate(25%, -50%) scale(0);
        position: absolute;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .6);
        padding: 2rem;
        border-radius: 3px;
        right: 2rem;
        top: 7rem;
        transition: 1s;
        z-index: 10;
    }

    .main-nav-burger {
        display: block;
        transition: 1s;
        order: 456;
       span{

         border-radius: 5px;}
    }

    .main-nav a {
        padding: 1rem 0
    }

    .main-nav a:after {
        bottom: 0
    }
        .main-nav-active {
        transform: translate(0) scale(1);
        text-align: left
    }

    .main-nav-burger-active {
        background-color: transparent
    }

    .main-nav-burger-active:after {
        transform: rotate(45deg)
    }

    .main-nav-burger-active:before {
        transform: rotate(-45deg)
    }
    .main-header-phone a{
    	margin: 0;
    }

}


@media (max-width:768px) {
	.step__content{
		flex-wrap: wrap;
		justify-content: center;
	}
	.step__item{
		width: 50%;
		margin-bottom: 5rem;
	}
	.step__header--line, .main__subheader span{
		display: inline;
	}
		.main__content{
		margin-bottom: 4rem;
	}
	.popup__project--box{
		padding: 0  5px;
	}

}

@media (max-width: 576px) {
	.project__item{
		width: 100%;
	}
	.popup__project--slider .square img{
		height: auto;
		width: 100%;
	}
		.popup__project--box .slick-track{
		align-items: flex-start;
	}
	.popup__info--item{
		width: 100%;
	}
}
@media (max-width: 480px) {
	.step__item{
		width: 100%;
	}
	.main__subheader{
		font-size: 3.5rem;
	}
	.main__header{
		font-size: 4rem;
	}
	.step__header{
		font-size: 3.5rem;
		padding-left: 2rem;
	}

}

@media (max-width: 320px) {}
