@media (max-width: 1200px) {
	.header, .header--fixed{
		.container{
			flex-wrap: wrap;
		}
		&__slogan{
			// width: 50%;
			width: 100%;
			order: 66;
			text-align: center;
			margin: 0;
			// margin-bottom: 1rem;
			
		}
		&__slogan{
			// text-align: right;
		}
		&__phone{
			text-align: left;
		}
	}
	.main,
.adventages,
.popular,
.example,
.free,
.review,
.step,
.contact,
.footer{
	&__header{
			font-size: 9rem;
		}
		&__subtitle{
			font-size: 3rem;
		}
}
	.main{
		padding-top: 6rem;
		&__form{
			width: 44%;

			padding-left: 5rem;
			padding-right: 5rem;
			min-width: auto;
		}
	}
	.example{
		&__item{
			&8, &10{
				display: none;
			}
		}
	}
	.free__offer{
		transform: translate(13%, 0);
	}


	.step__arrow{
		display: none;
	}
	.review__text{
		padding-bottom: 2rem;
	}
	.step__item:nth-child(2), .step__item:nth-child(5){
		margin-left: 0;
	}
	.contact{
		padding-top: 4rem;
		padding-bottom: 4rem;
		&__subtitle{
			margin-bottom: 4rem;
		}
		&__download{
			left: 3rem;
		}
		&__block{
			padding-top: 3rem;
			padding-bottom: 4rem;
			&:last-child{
				padding-left: 3rem;
			}
			&--mid{
				padding-left: 2rem;
				padding-right: 2rem;
			}
			&--header{
				font-size: 2.3rem;
				line-height: 1.15;
			}
		}
	}
	.calculator__step--header{
		max-width: 50rem;
		span{
			display: inline-block;

		}
	}
	.popular__slider:after, .popular__slider:before{
		display: none;
	}
	.popular{
		&__slider{
			&--info{
				top: 0;
				padding: 0 1.6rem;
			}
			&Min{
				&--nav{
					right: -6rem;
				}
			} 
			&--pageShow{
				right: -1rem;
			}
			&--arrow{
				bottom: -2rem;
				left: 21%;
			}

		}
	}

}

@media (max-width: 991px) {
	html{
		font-size: 9px;
	}

	.main,
.adventages,
.popular,
.example,
.free,
.review,
.step,
.contact,
.footer{
	&__header{
		text-align: center;
	}
	&__subtitle{
		text-align: center;
		span{
			display: inline-block;
		}
	}
}

	.main{
		&__content{
			flex-wrap: wrap;
		}

		&__info{
			width: 100%;
		}

		&__list{
			display: inline-block;
			left: 50%;
			position: relative;
			transform: translateX(-50%);
			margin-top: -3rem;
			margin-bottom: -2rem;
			padding: 3rem;
			li{
				z-index: 3;
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;left: 0;right: 0;bottom: 0;
				background-color: rgba(#fff, .6);
				filter: blur(10px)
			}
		}
		&__form{
			width: 100%;
			margin-right: auto;margin-left: auto;
			padding-top: 5rem;
			padding-bottom: 5rem;
			margin-top: 4rem;
		}
	}
	.adventages{
		padding-bottom: 3rem;
		&__header{
			font-size: 8rem;
		}
		&__item{
			width: 33.33%;
		}
	}
	.example{
		padding-top: 4rem;
		padding-bottom: 4rem;
		&__item{
			&8{
				display: block;
			}
			width: 33.333333333%;
			overflow: hidden;
			margin: 0;
			height: 20rem;
			padding: .1rem;
			img{
				width: 100%;

			}
		}
	}
	.free {
		.main__form{
			margin-left: 0;
		}
		&__offer{
			width: 31.4rem;
    		height: 36.1rem;
		}
	}
	.review{
		&__item{
			flex-wrap: wrap;
			justify-content: center;
		}
		&__avatar{
			width: 100%;
			max-width: 30rem;
			padding: 2rem;
		}
	}
	 .review__text{ 
		margin: 0;
		width: 100%;
	}
	.review__slider--arrow{
		top: auto;
		bottom: 0;
		transform: translate(0, 12rem);
		left: 50%;
		&Prev{
			    transform: translate(-100%, 12rem);
		}
	}
	.step__item{
		width: 45%;
		max-width: none;
	}
	.review{
		padding-bottom: 15rem;
	}
	.contact{
		&__content{
			flex-wrap: wrap;
		}
		&__block{
			width: 50%;
			&--mid{
				margin-top: 1rem;
				order: 4;
				width: 100%;
				.contact__block--header{
					margin-bottom: 2rem;
				}
				p{
					text-align: center;
					margin-bottom: 1rem;
					span{
						display: inline-block;
					}
				}
				.btn{
					max-width: 30rem;
					margin-top: 2rem;
				}
			}
		}
	}
	.calculator{
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 4rem;
		&__bgImg{
			// display: none;
			transform: scale(.8);
			right: -3.5%;
		}
		&__header{
			font-size: 7.5rem;
		}
		&__subtitle{
			font-size: 2.7rem;
		}
	}
	.calculator__step--content{
		flex-wrap: wrap;
	}
	.calculator__step--item{
		width: 33.333333333333333333333333333333333333333333%;
		margin-bottom: 3rem;
	}
	.calculator__step--header{
		max-width: 45rem;
	}
	.calculator__step--img{
		margin-bottom: 2rem;
	}
	.calculator__step--name{
		min-height: auto;
		span{
			display: inline-block;
		}
	}
	.calculator__step--img img{
		margin-right: auto;margin-left: auto;
	}
	.calculator__height--bg{
		transform: translate(-32%, -33%) scale(.8)
	}
	.popular__sliderMin--nav{
		position: relative;
		transform: none;
		right: auto;
		bottom: auto;
		left: 6rem;
    	top: 1rem;
	}
	.popular__slider--pageShow{
		bottom: -2rem;
	}
	.popular__slider--arrowMinPrev{
		left: 18rem;
	}
	.popular__slider--arrowMinNext{
		left: 23rem;
	}
}

@media (max-width: 769px) {
	html{
		font-size: 8px;
	}
		.main,
.adventages,
.popular,
.example,
.free,
.review,
.step,
.contact,
.footer{
	&__header{
		font-size: 6rem;
	}
}
	.adventages{
		padding-bottom: 4rem;
			padding-top: 4rem;

		&__item{
			width: 33.33%;
		}
	}
	.example{
		padding-top: 3rem;
		padding-bottom: 4rem;
		&__item{
			&10{
				display: block;
			}
			width: 50%;
			overflow: hidden;

			margin: 0;
			margin-bottom: .2rem;
			height: 25rem;
			display: flex;
			align-items: center;justify-content: center;
		}
	}
	.free{
		.main__form{
			margin-left: auto;
			position: relative;
			padding-bottom: 13rem;
		}
		&__offer {
			padding: 1rem;
			margin: 0;
			width: 100%;
			height: auto;
			background: transparent;
			transform: translate(-50%, 0);
			&--header{
				margin-bottom: 1rem;
				span{
					display: inline-block;
				}
			}
			&:after{
				display: none;
			}
		}
	}

	.footer .container{
		flex-direction: column;
	}
	.footer__mid{
		margin: 2rem 0;
	}
	.calculator{
		padding-left: 3rem;
		padding-right: 3rem;
		&__bgImg{
			opacity: .6;
		}
		&__header{
			font-size: 7.5rem;
		}
		&__subtitle{
			font-size: 2.7rem;
		}
	}
	.calculator__bottom--text:after{
		transform:translate(17%, 34%);
	}
	.calculator__step--header{
		max-width: none;
		text-align: center;

	}
	.calculator__step--share{
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		span{
			display: inline-block;
		}
		b{
			display: block;
		}
	}
	.select__list{
		box-shadow: 5px 5px 15px rgba(#000, .4)
	}
	.calculator__material{
		width: 100%;
		margin-bottom: 4rem;
	}
	.calculator__result{
		margin-top: 4rem;
		flex-wrap: wrap;
	}
	.calculator__result--item{
		width: 33%;
		margin-bottom: 4rem;
	}
	.popular__slider--info{
		width: 100%;
		margin-top: 3rem;
	}
	.popular__slider--left{
		width: 95%;
	}
	.popular__sliderMin--nav{

	    position: absolute;
	    top: 4rem;
    	right: -2rem;
    	left: auto;

    	transform: rotate(90deg);
	}
    


}
@media (max-width: 576px) {
		.header, .header--fixed{
		.container{
			flex-wrap: wrap;
		}
		&__slogan{
			width: 50%;
			// width: 100%;
			order: 0;
			text-align: center;
			margin: 0;		
		}
		&__slogan{
			text-align: right;
		}
		&__logo{
			margin-bottom: 1rem;
		}
		&__phone{
			text-align: left;
		}
	}

		.main,
.adventages,
.popular,
.example,
.free,
.review,
.step,
.contact,
.footer{
		&__subtitle{
			margin-bottom: 2rem;
			font-size: 3rem;
		}	
}	
	.adventages{

		&__item{
			width: 50%;
			margin-top: 3rem;
		}
	}
	.calculator__open{
		opacity: .6;
		&:hover{
			opacity: 1;
		}
	}
	.example{
		&__item{
			height: 14rem;
		}
	}
	.review__avatar{
		width: 100%;
		border: none;
		max-width: none;
		img{
			max-width: 25rem;
			margin-right: auto;margin-left: auto;display: block;
		}
	}
	.review__text{
		position: static;
		transform: none;
		width: 100%;
		padding: 1rem 0;
		text-align: center;
		&--header{
			text-align: center;
		}
	}
	.review__slider--arrow{
		transform: translate(0, 7rem);

		&Prev{
			    transform: translate(-100%, 7rem);
		}
	}
	.review{
		padding-bottom: 10rem;
	}
	.step__item{
		padding-left: 1rem;
		text-align: center;
		padding-right: 1rem;
	}
	.step__item--header:after{
		left: 50%;
		transform: translateX(-50%)
	}
	.step__item .btn{
		margin-left: auto;margin-right: auto;
	}
	.calculator{
		top: 5vh;
		margin-bottom: 5rem;
	}
	.calculator__height{
		padding: 3rem 0;
	}
	.calculator__height--bg{
		position: relative;
		transform: scale(.8);
		top: auto;
		left: auto;
	}
	.calculator__step:nth-child(6) .calculator__step--content{
		flex-direction: column-reverse;
		align-items: center;
	}
	.popular__sliderMin--nav{

	    position: relative;
	    top: auto;
    	right: -2rem;
    	left: auto;

    	transform:none;
	}
	.popular__slider--pageShow{
		bottom: -9rem;
	}

}
@media (max-width: 480px) {
	.header--fixed{
		.header__logo{
			display: none;
		}
		.header__slogan{
			width: 100%;
		}
	}
	.header{
		&__logo{
			text-align: center;
			// width: 100%;
			height: auto;
			

			svg{
				height: 4rem;
				margin-right: auto;margin-left: auto;
			}
		}

		&__slogan{
			// width: 70%;
			text-align: center;
			font-size: 1.3rem;
			margin-bottom: 1rem;
		}
		&__phone--number{
			font-size: 2rem;
		}
	}
	.popup{
		&__close{
			filter: invert(.5);
			right: 1rem;
			 transform: translateX(0%);
			 top: 2rem;
		}
		&__box{
			width: 95%;
			min-width: auto;
			padding-left: 2rem;padding-right: 2rem;
			top: 5vh;
			padding-bottom: 5rem;

		}
		.main__form--header{
			text-align: center;
		}
	}
	.inputBox{
		max-width: none;
	}
	.main{
		.container{
			padding: 0;
		}
		&__form{
			padding-left: 3rem;
			padding-right: 3rem;
			&--header{
				text-align: center;
				font-size: 3.3rem;
			}
		}
	}

			.main,
.adventages,
.popular,
.example,
.free,
.review,
.step,
.contact,
.footer{
		&__header{
			text-align: center;
			font-size: 5rem;
		}	
}
	.adventages{

		&__item{
			width: 50%;
			margin-top: 3rem;
		}
		&__text{
			font-size: 1.5rem
		}
	}
	.free{
		.container{
			padding: 0;
		}
		.main__form{
			padding-left: 3rem;padding-right: 3rem;
			    min-width: auto;
			    padding-top: 5rem;	

		}
		.main__form--header{
				text-align: center;
				font-size: 3rem;
		}
		.main__form--comment{
			margin-top: 4rem;
		}
	}
	.review{
		padding-top: 3rem;
		&__header{
			font-size:5rem;
		}
	}

	.step__item{
		margin-bottom: 4rem;
		padding-left: 0;padding-right: 0;

	}
	.step__item--text{
		font-size: 1.5rem;
		span{
			display: inline-block;
		}
	}
	.contact{
		&__block{
			width: 100%;
			text-align: center;
			span{
				display: inline-block;
			}
			&:last-child{
					text-align: left;
					padding: 1rem;
					padding-right: 3rem;
					padding-bottom: 3rem;
					margin-bottom: 1rem;
			}
		}
	}
	.calculator{
		// padding-top: 4rem;
		&__header{
			font-size: 4.5rem;
		}
		&__bottom{
			flex-direction: column;
		}
		&__subtitle{
			font-size: 2rem;
		}
		.calculator__bottom:after{
			display: none;
		}
		&__bgImg{
			display: none;
		}
		&__btn{
			margin-bottom: 3rem;
		}
	}	
	.calculator__step--header{
		font-size: 2.7rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.calculator__step--item{
		width: 50%;
	}
	.calculator__step--share{
		right: 0;width: 100%;
	}
	.calculator__step--prev{
		left: 1rem;
		height: 7rem;
	}
	.calculator__result--item{
		width: 50%;
		margin-bottom: 4rem;
		&:last-child{
			display: flex;
			width: 100%;
			justify-content: center;
			.calculator__result--name{
				margin-top: 0!important;
				margin-left: 3rem;
			}
		}
	}
	.calculator__step--next span{
		padding-left: 3rem;padding-right: 3rem;
	}
	.calculator__step--next{
		width: 60%;
		text-align: center;
		left: 60%;
	}

}

@media (max-width: 320px) {}



.review__slider--arrowPrev{
	z-index: 5;
}




// .header,
// .header--fixed,
// .main,
// .adventages,
// .popular,
// .example,
// .free,
// .review,
// .step,
// .contact,
// .footer
// {
// 	display: none;
// }