.header {
    padding: 1.5rem 0;
    color: #fff;
    width: 100%;

    &__logo {
        height: 50px;
        padding-right: 2rem;

        img {
            height: 100%;
        }
    }

    &__nav {
        margin-right: auto;
        margin-left: auto;
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        text-transform: uppercase;

        &--main {
            display: flex;
            align-items: center;
        }

        .parentList {
            padding-right: 2rem;
            position: relative;

            &:hover {
                .header__nav--inner {
                    display: block;
                }
            }

            svg {

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                stroke: white;
            }
        }

        li {
            margin: 0 1.6rem;
            padding: 1.5rem 0;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;

        }

        &--inner {
            display: none;
            position: absolute;
            background-color: #fff;
            color: #000;
            text-transform: uppercase;
            width: 30rem;
            left: 0;
            bottom: 0;

            transform: translateY(100%);
            box-shadow: 0 0 15px rgba(#000, .1);

            a,span {
                padding: 1.2rem 2rem;
                position: relative;
                display: block;
                transition: .5s;

                &:hover {
                    background-color: rgba($mainColor, 1);
                    color: #fff;
                    cursor: pointer;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 1rem;
                    width: calc(100% - 2rem);
                    height: 1px;
                    border-bottom: 1px dashed #B8B8B8;
                }
            }

            li {
                margin: 0;
                padding: 0;

                &:last-child {
                    a {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

        }

    }


    &--fixed {
        background-color: #fff;
        box-shadow: 0 0 15px rgba(#000, .1);
        color: #000;
        position: fixed;
        padding: 1.7rem 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 150;
        transform: translateY(-100%);
        transition: .5s;

        .parentList svg {
            stroke: #000;
        }

        &.active {
            transform: translateY(0%);
        }
    }

    &__contact {
        text-align: right;

        &--time {
            font-size: 14px;
            font-weight: 300;
        }

        &--call {
            color: $mainColor;
            text-decoration: underline;
            font-family: 'Roboto Condensed';
            font-weight: 700;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__phone {
        font-size: 3rem;
        font-weight: 700;


    }

}


.main {
    background: transparent url('../img/main__bg.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: #fff;

    &__content {
        justify-content: space-between;
    }

    &__header {
        font-size: 4.8rem;
        margin-bottom: 1rem;
        max-width: 56rem;
        font-family: 'Roboto', sans-serif;
    }

    &__subheader {
        font-size: 2.4rem;
        margin-bottom: 3.2rem;
        max-width: 57rem;
        font-family: 'Roboto', sans-serif;
    }

    &__banner {
        background: transparent url('../img/main__bunner.png')center no-repeat;
        background-size: 100% 100%;
        max-width: 447.05px;
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 2.6rem 1.7rem 1.4rem;

        &--header {
            font-size: 3.6rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        &--subheader {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 7.2rem;
        }

        &--link {
            font-size: 1.4rem;
            text-decoration: none;
            color: #fff;
            &:hover{
                cursor: pointer;
            }
        }

    }

}



.catalog {
    padding: 7.3rem 0 5.2rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 32%;
        position: relative;
        margin-bottom: 2rem;

        img {
            width: 100%;
        }

        &--big {
            width: 66%;
            color: #fff;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }

            .catalog__item {
                &--info {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    padding: 3rem 3rem;
                    padding-right: 2.1rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    background-color: transparent;

                    &:after {
                        display: none;
                    }

                }

                &--header {
                    font-size: 3.6em;
                    text-transform: uppercase;
                }

                &--about {
                    font-size: 1.4rem;
                    max-width: 44rem;
                    font-family: 'Roboto Slab', serif;
                }

                &--price {
                    font-size: 3.6rem;
                    margin-bottom: 1.9rem;
                    text-align: right;
                    font-weight: 700;
                    padding-right: 1rem;
                }

            }
        }

        &--btn {
            font-size: 2.4rem;
            padding: .7rem 3.2rem;
            margin-left: 0;

        }

        &--info {
            background-color: #f2f2f2;
            text-align: center;
            padding: 1.2rem 1.8rem 1.8rem;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 30px 50px 30px;
                border-color: transparent transparent #f2f2f2 transparent;
                right: 3rem;
                top: 0;
                transform: translateY(-100%)
            }
        }

        &--header {
            text-align: left;
            font-size: 2.4rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &--about {

            text-align: left;
            font-size: 1.8rem;
            margin-bottom: .7rem;
            line-height: 1.4;

        }

        &--price {
            text-align: left;
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 1.2rem;
        }
    }
}

.technology {
    padding-bottom: 5.5rem;

    &__img {
        position: relative;
        margin-top: -2rem;

        img {
            width: 100%;
        }
    }

    &__text {
        position: absolute;
        max-width: 32.5rem;
        font-size: 1.8rem;

        span {
            color: $mainColor;
            font-weight: 700;
        }

        &1 {
            top: 6%;
            left: 9%;
        }

        &2 {
            top: 6%;
            right: 20%;
        }

        &3 {
            left: 10.5%;
            bottom: 3%;
        }

        &4 {
            right: 22%;
            bottom: 11%;
        }
    }
}

.calculatorCall {
    background: transparent url('../img/calculatorCall__bg.jpg') center no-repeat;
    background-size: cover;
    padding: 2.8rem 0 2.8rem;
    color: #fff;

    &__header {
        font-size: 3.6em;
        margin-bottom: .8rem;
        padding-left: 2.5rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

    }

    &__subheader {
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 300;
        padding-left: 2.3rem;
        margin-bottom: 3.4rem;
        line-height: 1.27;
    }

    &__comment {
        font-size: 3.6rem;
        font-weight: 700;
        padding-left: 2.5rem;
    }

    &__btn {
        display: block;
        margin-right: 8%;
        font-size: 2.4rem;
        margin-top: -1.2rem;

    }
}

.materials {
    padding: 7rem 0;

    &__slider {
        padding: 0 13rem;
    }


    &__arrow {
        position: absolute;
        z-index: 5;
        top: 50%;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background-color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        transition: .5s;

        &:hover {
            cursor: pointer;
            transform: translateY(-50%) scale(1.02);
            box-shadow: 5px 5px 15px rgba(#000, .3)
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

    }

    &__item {
        padding: 1rem;

        &--img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 32rem;
            margin-bottom: 1rem;

            &:before {
                content: '';
                position: absolute;
                width: 30rem;
                height: 30rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;

                background: #F6F6F6;
            }

            img {
                position: relative;
                z-index: 1;
                max-height: 100%;
            }

        }

        &--header {
            font-size: 2.4rem;
            position: relative;
            z-index: 1;
            text-align: center;
            margin-bottom: 2rem;
        }

        &--text {
            font-size: 14px;
            font-family: 'Roboto Slab', serif;
            position: relative;
            z-index: 1;
        }
    }
}


.examples {
    padding-bottom: 7rem;

    &__content {}

    &__item {
        width: 25%;
        padding: 1rem;

        img {
            width: 100%;
        }

        &--info {
            font-size: 1.8rem;
            font-family: 'Roboto Slab', serif;
            margin-bottom: 1.4rem;
        }

        &--open {
            font-size: 2.4rem;
            font-weight: 700;
            color: #2a2a2a;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }
        }
    }
}


.review {
    padding-bottom: 7rem;

    &__slider {
        padding: 0 20rem;
        margin-top: 10rem;
    }

    &__item {
        &--who {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }

        &--avatar {
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            overflow: hidden;
            font-size: 0;
            margin-bottom: 3.3rem;

            img {
                width: 100%;
            }
        }

        &--right {
            padding-left: 6.4rem;
        }

        &--name {
            font-size: 3.6rem;
            font-weight: 300;
        }

        &--tag {
            font-size: 2.4rem;
            font-weight: 300;
        }

        &--text {
            font-size: 1.8rem;
            font-family: 'Roboto Slab', serif;
        }
    }


}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    button {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        font-size: 0;
        border: none;
        background: #C4C4C4;
        margin: 1rem;
        transition: .5s;

        &:hover {
            cursor: pointer;
        }
    }

    .slick-active {
        button {
            background-color: $mainColor;
        }
    }
}

.hawWork {
    padding-bottom: 7rem;

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-right: auto;
        margin-left: auto;
        max-width: 110rem;

        &--number {
            font-size: 9.6rem;
            font-weight: 700;
            margin-right: 2rem;
        }

        .link {
            text-decoration: underline;
            color: $mainColor;
            &:hover{
                cursor: pointer;
            }
        }

        &--info {
            padding-bottom: 1.5rem;
        }

        &--header {
            font-size: 2.4rem;

        }

        &--text {
            font-family: 'Roboto Slab', serif;
            font-size: 1.8rem;
        }
    }
}

.plans {
    margin-top: 7.3rem;
    padding-bottom: 7rem;

    .blockSubheader {
        max-width: 85rem;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-top: 4.7rem;
        margin-bottom: 5.6rem;

        &--item {
            font-size: 2.4rem;
            font-weight: 700;
            padding: 1rem;
            transition: .5s;
            margin: 0 2.5rem;

            &:hover {
                cursor: pointer;
            }

            &.active {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    left: 0;
                    bottom: 0;
                }

                color: $mainColor;
            }
        }
    }

    &__content {
        padding: 0 15px;

        &--item {
            max-width: 1280px-20px;
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            z-index: -10;
            opacity: 0;
            transform: scale(0);

            &.active {
                position: relative;
                transform: scale(1);
                z-index: 1;
                opacity: 1;
            }
        }
    }

    &__item {
        padding-bottom: 2.6rem;
        margin-bottom: 2rem;
        position: relative;
        display: flex;
        justify-content: space-between;

        &:after {
            content: '';
            position: absolute;
            width: calc(100% - 2rem);
            height: 1px;
            bottom: 0;
            left: 1rem;
            background-color: #2a2a2a;
            opacity: .3;

        }

        &:last-child {


            &:after {
                display: none;
            }
        }

        &--info {

            // max-width: 680px;
            width: 54%;
        }

        &--video {
            font-size: 1.8rem;
            font-weight: 700;
            padding-left: .7rem+2.5rem;
            position: relative;
            text-decoration: none;
            color: #000;
            margin-bottom: .5rem;
            padding-right: 1.6rem;

            &:before {
                content: '';
                position: absolute;
                left: -0px;
                top: 50%;
                transform: translateY(-50%);
                width: 2.5rem;
                height: 2.5rem;
                background: transparent url('../img/play-button.svg')center no-repeat;
                background-size: 100% 100%;
            }
        }

        &--header {
            font-size: 3.6rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }

        &--btn {
            font-size: 2.4rem;
            padding: 1.2rem 6.8rem;
            margin-left: 0;
            border-radius: 4rem;
        }

        &--bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__parameters {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;

        &--item {
            padding-right: 1rem;
            margin-right: 6.5%;
        }

        &--main {
            text-transform: uppercase;
            margin-bottom: .7rem;

            span {
                font-size: 4.8rem;
            }

            font-size: 2.4rem;
        }

        &--comment {
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        &--item {
            width: calc(50% - 1rem);
            font-size: 1.4rem;
            font-family: 'Roboto Slab', serif;
            display: flex;
            justify-content: space-between;
            margin-bottom: .8rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px dashed #2a2a2a;
            }

        }

        &--parametr {
            background-color: #fff;
            position: relative;
            z-index: 1;
            padding-right: .5rem;
        }

        &--value {
            background-color: #fff;
            position: relative;
            z-index: 1;
            padding-left: .5rem;
        }

    }

    &__gallery {
        width: 43%;

        img {
            width: 100%;
        }

        &--main {}

        &--nav {
            &Item {
                padding: .6rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    .materials__arrow {
        height: 3rem;
        width: 3rem;

        svg {
            height: 2rem;
            width: 2rem;
        }

        &--prev {
            left: -3.5rem;
        }

        &--next {
            right: -3.5rem;
        }
    }

}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(#000, .3);
    z-index: 500;
    display: none;

    &__comparison {
        z-index: 512;
    }

    &__input {
        width: 100%;
        display: block;
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 1.5rem;

        input {
            width: 100%;
            display: block;
            font-size: 2.4rem;
            border: 1px solid rgba(#616161, .5);
            padding: 1.05rem 1.3rem;
            margin-top: 1rem;

            &::placeholder {
                transition: .5s;
                color: #B8B8B8;

            }
        }
    }

    &__polityc {
        text-align: center;
        color: $mainColor;
        font-size: 14px;
        width: 100%;
        display: block;
    }

    &__thanks {
        .popup__box {
            max-width: 41.7rem;
        }

        text-align: center;

        .popup__header {
            font-size: 3.6rem;
            margin-top: 7rem;
        }

        .popup__subheader {
            font-size: 1.4rem;
            font-weight: 300;
            font-family: 'Open Sans Condensed';
            margin-bottom: 20rem;
        }

        .popup__close {
            right: 0;
            top: 0;
            margin-right: auto;
            display: block;
            text-align: right;
            position: relative;
            font-family: 'Open Sans Condensed';
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 24px;
            text-decoration-line: underline;

            color: #57B173;
        }


    }

    &__call {
        .popup__box {
            max-width: 41.7rem;
        }

        .popup__close {
            height: 2rem;
            width: 2rem;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                top: 0;
                top: 0;
                transform: rotate(45deg)
            }

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                top: 0;
                top: 0;
                transform: rotate(-45deg)
            }
        }

        .popup__header {
            font-size: 2.4rem;
        }

        .popup__subheader {
            font-size: 1.4rem;
            font-weight: 300;
        }

        &--btn {
            margin-top: 3rem;
            margin-bottom: 1rem;
            font-size: 2.4rem;
            padding: 1.2rem 4.5rem;
            border-radius: 4rem;
            display: block;
            margin-left: auto;
        }

    }


    &::-webkit-scrollbar {
        width: 0px;
        // height: 10px;
        background-color: rgba(#fff, .3);
        border-radius: 0px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: rgba(#000, 1);
        box-shadow: 0px 0px 0 0 red;
        border-radius: 0px;
    }

    &__header {
        margin-bottom: 2.6rem;
    }

    &__subheader {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    &__box {
        background-color: #fff;
        max-width: 1134px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        padding: 1.7rem 2rem;
        margin-bottom: 3rem;
        top: 5vh;

    }

    &__close {
        position: absolute;
        font-size: 2.4rem;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
        color: $mainColor;
        top: 1.7rem;
        right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__calculator {
        .popup__box {
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 1280px;
            padding-top: 3rem;
        }
        &--prev{
            display: block;
            max-width: 10rem;
            min-resolution: auto;
            margin-left: auto;
            padding: 1rem;
        }

        .popup__close {
            height: 2rem;
            width: 2rem;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                top: 0;
                top: 0;
                transform: rotate(45deg)
            }

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                top: 0;
                top: 0;
                transform: rotate(-45deg)
            }
        }

        &--top {
            display: flex;
            justify-content: space-between;

            .popup__header {
                font-size: 3.6rem;
                margin-bottom: 0;
            }
        }

        &--contact {
            &Phone {
                font-size: 3rem;
                text-align: right;
                font-weight: 700;
            }

            &Call {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 14px;
                text-decoration: underline;
                color: $mainColor;
                text-align: right;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        &--step {
            display: none;

            &.active {
                display: block;
            }

            .blockSubheader {
                margin-top: 1rem;
                margin-bottom: 2.7rem;
            }

            &Price {
                font-family: 'Open Sans Condensed';
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 2.4rem;
                margin-bottom: 2rem;
            }

            &Btn {
                font-family: 'Open Sans Condensed';
                font-size: 1.8rem;
                padding: 1.2rem 2rem;
                margin-right: auto;
                margin-left: auto;
                border-radius: 4rem;
                display: block;
                max-width: 30rem;
            }
        }

        &--nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 1.7rem;

            &Item {
                width: 33.333333333333%;
                background: #E2E2E2;
                color: #616161;
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 700;
                padding: 2.9rem 3rem;

                &.active {
                    background: $mainColor;
                    color: #fff;
                }

            }
        }

        &--color {
            &:last-child {
                margin-bottom: 4rem;
            }

            &.error {
                color: red;
            }

            &Row {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            &Header {
                font-size: 3rem;
                margin-bottom: 2rem;
                font-weight: 300;
            }

            &Item {
                height: 8rem;
                overflow: hidden;
                transition: .5s;

                &.dismiss {
                    filter: grayscale(1)
                }

                &:hover {
                    filter: grayscale(0);
                    cursor: pointer;
                    transform: scale(1.08)
                }

                img {
                    height: 100%
                }
            }

        }

        &--result {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 5rem;

            &Header {
                font-size: 2.4rem;
                font-weight: 700;
                margin-bottom: 3rem;
                text-transform: uppercase;
            }

            &Row {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                position: relative;
                margin-bottom: .7rem;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    border-bottom: 1px dashed #B8B8B8;
                }
            }

            &Col {
                font-size: 1.8rem;
                font-weight: 300;
                position: relative;
                padding: .5rem;
                background-color: #fff;
                z-index: 1;
            }

            &Info {
                width: 100%;
                max-width: 44rem;
            }

            &Img {
                width: 100%;
                max-width: 62rem;
                margin-right: auto;
                margin-left: auto;

            }

        }

        &--price {
            margin-top: 5rem;
            font-size: 3.6rem;

            p {
                max-width: 87rem;
                margin-bottom: 5rem;
            }

            span {
                font-weight: 700;
            }

            &Item {
                margin-bottom: 1rem;
            }

        }
    }

    &__table {
        color: #000;
        text-align: center;

        &--btn {
            font-size: 2.4rem;
            padding: 1.15rem 2rem;
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 30rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            &.hide {
                display: none;
            }
        }

        &--col {
            width: 33.33333333333%;
            padding: 1.8rem .5rem;
            padding-top: 4.9rem;
            font-family: 'Roboto Slab', serif;
            font-size: 1.8rem;

            &Dark {
                background-color: #F8F5F5;
            }

        }

        &--header {
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: uppercase;
            font-weight: 700;

            .popup__table--col {
                font-size: 2.4rem;
                font-family: 'Open Sans Condensed', sans-serif;
            }


        }

        &--row {
            display: flex;
            position: relative;

            &.hide {
                display: none;
            }

            &La {
                text-align: left;

                .popup__table--col {
                    padding-top: 0;
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                    font-size: 1.8rem;
                    font-family: 'Roboto Slab';
                }

                &:before {
                    display: none;

                }

                p {
                    font-family: 'Open Sans Condensed';
                    font-size: 2rem;

                    &:first-child {
                        margin-top: 2rem;
                    }

                    &:last-of-type {
                        margin-bottom: .7rem;
                    }
                }
            }

            &:before {
                content: '';
                position: absolute;
                width: calc(100% + 1rem);
                height: 1px;
                background-color: #b8b8b8;
                left: -.50rem;
                top: 3.4rem;
            }


            &:first-child {
                &:before {
                    display: none;
                }

                .popup__table--col {
                    padding-top: 2.1rem;

                }
            }


        }

        &--what {
            position: absolute;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 2.4rem;
            left: -.7rem;
            top: -.2rem;


        }

    }

    &__what {
        font-size: 1.8rem;
        color: #b8b8b8;
        text-transform: uppercase;
    }

    &__gallery {
        &Box {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 2rem;
        }

        &--item {
            width: 25%;
            display: inline-block;
            padding: .5rem .7rem;

            img {
                width: 100%;
            }
        }
    }

    &__info {
        display: flex;

        &--comparison {
            text-decoration: underline;
            font-size: 2.4rem;
            font-weight: 700;
            color: $mainColor;
            text-align: center;
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 1rem;
            &:hover{
                cursor: pointer;
            }
        }

        &--right {
            width: 49%;
            padding-left: 1rem;
        }

        &--top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        &--price {
            font-size: 3.6rem;


            span {
                font-weight: 700;
                display: inline-block;
                margin-bottom: .7rem;
            }

            &Comment {
                font-size: 12px;
                color: #b8b8b8;
                text-transform: uppercase;
                max-width: 23rem;
                font-weight: 700;
            }
        }

        &--btn {
            font-size: 2.4rem;
            padding: .65rem 5.2rem;
        }

        &--consult {
            text-decoration: underline;
            font-weight: 700;
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: .4rem;
            transition: .5s;
             &:hover{
                cursor: pointer;
                color: $mainColor
            }
        }

        &--button {}

        &--characteristic {
            &Header {
                font-weight: 700;
                font-size: 2.4rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }

            &Row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.2rem;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    border-bottom: 1px dashed #B8B8B8;
                }
            }

            &Name {
                font-weight: bold;
                font-size: 18px;
                position: relative;
                z-index: 1;
                background-color: #fff;
                padding-right: 1.5rem;
            }

            &Value {
                font-size: 18px;
                text-align: right;
                font-weight: 300;
                position: relative;
                z-index: 1;
                padding-left: 1.5rem;
                background-color: #fff;
            }
        }
    }

    &__slider {
        width: 51%;

        &--content {
            margin-bottom: 2rem;
            padding-right: 1rem;
            img{
                width: 100%;
            }
        }

        &--nav {
            &Item {
                overflow: hidden;
                height: 12.5rem;
                width: 12.5rem;
                margin-right: 14rem-12.5;
                text-align: center;
                transition: .5s;
                margin-bottom: 2rem;

                &:hover {
                    cursor: pointer;

                    box-shadow: 5px 5px 15px rgba(#000, .2)
                }

                &.slick-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.slick-current {
                    // border: 3px solid $mainColor;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: 2px solid $mainColor
                    }

                }

                img {
                    height: 100%;
                    transition: .5s;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }

    &__article {
        &--title {
            font-size: 2.4rem;
            font-weight: 300;
            margin-bottom: 2rem;
            padding-left: 9.5rem;
        }

        &--content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 7rem;
        }

        &--item {
            width: 33.3333333333333%;
            padding: 0 2.5rem;
            margin-bottom: 3rem;

        }

        &--img {
            font-size: 0;
            margin-bottom: 2rem;

            img {
                width: 100%;
            }
        }

        &--header {
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &--text {
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        &--link {
            font-size: 2.4rem;
            font-weight: 700;
            width: 100%;
            text-align: right;
            text-decoration: none;
            color: $mainColor;
            display: block;

        }
    }

    &__final {
        .popup__close {
            font-weight: 300;
            font-size: 2.4rem;
        }

        .popup__box {
            max-width: none;
            top: 0;
            margin-bottom: 0;
        }

        .popup__header {
            text-align: center;
            font-size: 3.6rem;
            margin-top: 9rem;
        }

        &--subheader {
            text-align: center;
            font-size: 3.6rem;
            font-weight: 300;
            text-align: center;
            max-width: 100rem;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 10rem;
        }
    }

    &__tubs {
        margin-top: 3rem;
        width: 100%;

        &--gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            &Plan {
                .popup__tubs--galleryItem {
                    width: 33.33333333%;
                }
            }

            &Video {
                .popup__tubs--galleryItem {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 5rem;
                        height: 5rem;
                        top: 50%;
                        left: 50%;
                        background: transparent url('../img/youtube.svg') center no-repeat;
                        background-size: 100% 100%;

                        transform: translate(-50%, -50%);
                        z-index: 2;

                    }

                    &:before {
                        content: '';
                        position: absolute;
                        height: 2rem;
                        width: 2rem;
                        top: 50%;
                        left: 50%;
                        background: #fff;
                        transform: translate(-50%, -50%);
                        z-index: 1;

                    }
                }
            }

            &Item {
                font-size: 0;
                padding: 1rem;
                width: 25%;

                &:hover {
                    cursor: pointer;

                    img {
                        box-shadow: 5px 5px 15px rgba(#000, .4)
                    }
                }

                img {
                    transition: .5s;
                    width: 100%;
                }
            }
        }

        &--table {
            &Row {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-end;
                border-bottom: 1px solid #b8b8b8;
                font-size: 1.5rem;

                &:last-child {
                    border: none;
                }

                &:nth-child(2n) {
                    background-color: #f7f7f7;
                }
            }

            &Col {
                padding: 1.2rem 1rem;
            }

            &Name {
                width: 19rem;
            }

            &Value {
                width: 100%;
            }
        }

        &--nav {
            border-bottom: 1px solid #B8B8B8;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1.5rem;

            &Item {
                margin-bottom: 2rem;
                font-size: 2.4rem;
                font-weight: 700;
                margin-right: 5rem;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    color: $mainColor;
                }

                &:hover {
                    cursor: pointer;

                }
            }
        }

        &--content {

            &Item {
                display: none;
                font-size: 1.8rem;
                font-weight: 300;
                font-family: 'Roboto Slab', serif;


                p {
                    margin-bottom: 2.5rem;
                }

                &.active {
                    display: block;
                }
            }

        }
    }

    &__bath {
        border-bottom: 1px solid #B8B8B8;
        padding-bottom: 2rem;

        &--preview {
            display: block;
            width: 33.33333%;

            img {
                width: 100%;
            }
        }

        &--type {
            display: none;

            &.active {
                display: block;
            }
        }

        &:last-child {
            border: none;
        }

        &--main {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        &--right {
            padding-bottom: 1rem;
        }

        &--detalic {

            display: flex;

            align-items: center;
            justify-content: center;

            &Info {
                padding: 1rem 2rem;
                width: 40%;
                display: none;
            }

            &Img {
                display: none;
                width: 40%;
                max-width: 390px;
                z-index: 0;
                margin-left: 10rem;

                img {
                    width: 100%;
                }
            }

            &Row {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                position: relative;
                font-size: 1.8rem;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #B8B8B8;
                }
            }

            &Col {
                padding: .5rem;
                position: relative;
                z-index: 1;
                background-color: #fff;
            }

            &Name {
                font-weight: 700;
            }
        }


        &--more {
            font-weight: 300;
            font-size: 2.4rem;
            text-align: center;
            // text-decoration-line: underline;
            margin-bottom: 1rem;

            color: #57B173;
            position: relative;
            display: inline-block;

            &:hover {
                cursor: pointer;
            }

            &:after {
                content: '';
                position: absolute;
                height: 1px;
                background-color: $mainColor;
                bottom: 0;
                left: 0;
                width: 100%;

            }

        }

        &--price {
            font-size: 2.4rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 2rem;

            span {
                font-size: 4.8rem;
                font-weight: 700;
            }
        }

        &--info {
            text-align: center;

            &Box {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
            }

            &Item {
                margin-right: 1rem;
                margin-right: 4rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            &Value {
                font-size: 2.4rem;
                text-transform: uppercase;

                span {
                    font-size: 4.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-right: .5rem;
                }
            }

            &Name {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 14px;
            }
        }

    }
}


.contact {
    padding-bottom: 5rem;

    .row {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__logo {
        margin-bottom: 5rem;
        font-size: 0;

        img {
            height: 5rem;
        }

        &--comment {
            font-size: 2.4rem;
            font-weight: 700;
            color: #2a2a2a;
            max-width: 24rem;

        }
    }

    &__content {
        padding-left: 4rem;

    }


    &__item {
        margin-bottom: 3rem;

        &--what {
            font-weight: 300;
            font-size: 2.4rem;
            color: #2a2a2a;
            margin-bottom: 1.5rem;
        }

        &--value {
            font-size: 2.4rem;
            color: #2a2a2a;
            font-weight: 700;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    &__call {
        text-decoration: underline;
        color: $mainColor;
        &:hover{
            cursor: pointer;
        }
    }

    &__map {
        width: 50%;

        #map {
            max-width: 603.91px;
            height: 458px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.footer {
    .row {
        justify-content: space-between;
    }

    &__policy {
        width: 100%;
        padding: 5rem 0;
        font-weight: 300;
        font-size: 1.4rem;
        color: #2a2a2a;
        text-align: center;

        a {
            text-decoration: underline;
            color: $mainColor;
            display: block;
        }
    }

    &__video {
        max-width: 33.3333333333%;

        img {
            width: 100%;
        }
    }

    &__nav {

        column-count: 2;
        width: 66.666%;

        a,span {
            font-size: 2.4rem;
            font-weight: 300;
            text-decoration: none;
            color: #2A2A2A;
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                left: 0;
                bottom: 0;
                transition: .5s;
                transform: scale(0)
            }

            &:hover {
                &:after {
                    transform: scale(1)
                }
            }

        }

        &__video {
            width: 33.333333%;
            padding-left: 2rem;
            font-size: 0;

            img {
                width: 100%;
            }
        }
    }

}


.select {

    position: relative;
    font-size: 2.4rem;
    font-weight: 300;
    color: #616161;
    padding: 1.05rem 1.2rem;
    padding-right: 6.6rem;
    border: 1px solid rgba(#616161, .4);
    width: 100%;
    max-width: 62.7rem;

    &:hover {
        cursor: pointer;
    }

    .bold {
        font-weight: 700;
    }

    &.active {
        .select__arrow {
            transform: translateY(-50%) scale(1, -1);
        }
    }

    &__arrow {
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        transition: .5s;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    &__label {
        font-size: 3rem;
        font-weight: 300;
        padding-right: 2rem;
        width: 31rem;
    }

    &__list {
        position: absolute;
        display: none;
        background-color: #fff;
        width: calc(100% + 2px);
        z-index: 5;
        left: -1px;
        bottom: 0;
        transform: translateY(100%);
        border: 1px solid rgba(#616161, .4);

        li {
            padding: 1rem;
            transition: .5s;

            &:hover {
                background-color: #eee;
                cursor: pointer;
            }
        }
    }
}

.input__box {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 10%;

    span {
        display: inline-block;
        padding-right: 1rem;
        font-weight: 300;
        width: 31rem;
    }

    input {
        font-size: 2.4rem;
        padding: 1.2rem;
        width: 100%;
        max-width: 67rem;
        border: 1px solid rgba(#616161, .6);

        &::placeholder {
            color: #B8B8B8;
        }
    }

}

.sendCalculator {
    font-size: 2.4rem;
    display: block;
    border-radius: 4rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.configurationType {
    border: none;
    text-align: right;
    width: auto;
}