.header {
    padding-top: .4rem;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    box-shadow: 0 0 13px rgba(#000, .1);
    &__burger{
    	display: none;	
    	position: absolute;	
    }

    &__logo {
        padding-right: 6rem;
        margin-top: .9rem;

        svg {
            height: 8.8rem;
        }
    }

    &__mail {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #205aa1;
        font-size: 1.6rem;
        &--mobile{
		display: none;
        
        }

        span {
            border-bottom: 1px dotted #205aa1;
        }

        svg {
            fill: #205aa1;
            width: 2.2rem;
            height: 2.2rem; 
            margin-right: 1rem;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        width: calc(100% - 15px);
        padding-top: 1.5rem;
    }
    &__btn{
    	&--mobile{
    		display: none;	
    	}
    }


    &__top,
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__phone {
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.154rem;
        color: $mainEl;
        margin-right: 2.7rem;
        border-bottom: 1px dotted $mainEl;
        text-decoration: none;
        &--mobile{
        	display: none;	
        }
    }

    &__nav ,&__nav--mobile{
        display: flex;
        justify-content: space-between;
        &--mobile{
        	display: none;	
        }

        li,div {
            &.active {
                a {
                    color: #808080;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: .5rem;
                        background-color: #ff8a1e;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }

        a {
            display: inline-block;
            padding: 1.9rem 0 1.6rem;
            // padding-top: 0;
            text-decoration: none;
            color: #111010;
            font-size: 1.8rem;
            transition: .5s;

            &:after {
                transition: .5s;
            }

            &:hover {
                color: $mainEl;
            }

            &.active {
                color: #808080;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: .5rem;
                    background-color: #ff8a1e;
                    bottom: 0;
                    left: 0;
                }

            }
        }
    }
}

a.header__mail--mobile{
	display: none;	
}
.main {
    background: rgba(#000, .5) url('../img/main__bg.jpg') center no-repeat;
    background-size: cover;
    padding-top: 24rem;
    padding-bottom: 13.8rem;
    color: #fff;
    text-align: center;

    &__header {
        font-size: 4.8rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;
        margin-bottom: 3.5rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 5.8rem;
            height: 0.5rem;
            background-color: #ff8a1e;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 1.7rem)
        }

        span {
            display: block;
        }
    }

    &__subheader {
        font-size: 3rem;
        line-height: 1.3;
        margin-bottom: 2rem;
        &--mobile{
        	display: none;
        }

        span {
            display: block;
        }
    }

    .btn--big {
        margin-bottom: 3rem;
        font-size: 2.4rem;
        text-decoration: none; 
    }

    &__mail {
        justify-content: center;
        color: #fff;

        span {
            border-color: #fff;
        }

        svg {
            fill: #fff
        }
    }
}

.section-header {
    font-size: 4.8rem;
    font-weight: 700;
    color: #111010;
    margin-bottom: 3.2rem;
    text-align: center;
}

.about {
    padding: 6.8rem 0 9rem;

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__slider {
        font-size: 0;
        margin-bottom: 5rem;

        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -2.7rem);

        }

        .owl-dot {
            margin: 0 2.2rem;
        }

        .owl-dots .owl-dot span {
            width: 1.6rem;
            height: 1.6rem;
            border: 0.8rem solid #ffffff;
            background-color: #ff8a1e;
            transition: .5s;
        }

        .owl-dots .owl-dot:hover span {
            width: 1.6rem;
            height: 1.6rem;
            border: 0.4rem solid #ffffff;
            background-color: #ff8a1e;
        }

        .owl-dots .owl-dot.active span {
            width: 1.6rem;
            height: 1.6rem;
            border: 0.2rem solid #ffffff;
            background-color: #ff8a1e;
        }

        img {
            width: 100%;

        }
    }

    &__header {
        font-size: 3rem;
        font-weight: 700;
        color: #111010;
        margin-bottom: 3.4rem;
        position: relative;
        line-height: 1.2;
        &--mobile{
        	display: none;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 4.5rem;
            height: 0.4rem;
            background-color: #ff8a1e;
            transform: translate(0, 1.6rem);
        }

        span {
            display: block;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.2;
        // padding-right: .5rem;
        &--short{
        	display: none;
        }
    }

    &__item {
        width: calc(50% - 15px);
    }

    &__video {
        &--link {
            font-size: 1.4rem;
            text-decoration: none;
            color: #205aa1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: .7rem;

            svg {
                margin-right: 1rem;
                fill: #d72927;
                height: 1.7rem;
            }

            span {
                border-bottom: 1px dotted #205aa1;
            }
        }

        &--box {
            border: none;
            width: 100%;
            height: 31.2rem;
        }
    }

}



.review {
    padding: 5rem 0 5rem;
    background-color: #f5f7f9;

    &__slider {
        position: relative;

        &--item {

            background-color: #fff;
            box-shadow: 0 1.1rem 2.4rem rgba(104, 104, 104, 0.58);
            border-radius: 0.3rem;
            display: flex;
            align-items: flex-start;
            max-width: 100.5rem;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 3rem;
            position: relative;
            z-index: 3;
        }

        .owl-stage-outer {
            z-index: 3;
        }

        .owl-dots {
            display: none;
        }

        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            width: 100%;
            display: flex;
            justify-content: space-between;

            svg {
                height: 5.3rem;
                fill: #5c6269;
            }

            .owl-next {
                transform: translateX(100%);

                svg {
                    transform: rotate(90deg)
                }
            }

            .owl-prev {
                transform: translateX(-100%);

                svg {
                    transform: rotate(-90deg)
                }
            }

            [class*='owl-']:hover {
                background-color: transparent;
            }

            button {

                &:hover {
                    background-color: transparent;

                    svg {
                        fill: #ff8a1e;
                    }
                }
            }
        }
    }

    &__img {
        border-right: 1px solid #f5f7f9;
        padding: 2.8rem 2.3rem 7.3rem 2rem;
        font-size: 0;
        width: 32%;

        img {
            width: 100%;
        }
    }

    &__info {
        width: 68%;
        padding: 3.8rem 6.5rem 3rem 6.8rem;
    }

    &__header {
        font-size: 2.4rem;
        font-style: italic;
        letter-spacing: 0.13rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 4.5rem;
            height: 0.4rem;
            background-color: #ff8a1e;
            transform: translate(0, 1.75rem)
        }
    }

    &__text {
        font-size: 1.6rem;
        color: #5c6269;
        line-height: 1.2;
        &--mobile{
        	display: none;
        }
        &--more{
        	font-size: 14px;color: #205aa1;margin-top: 17px;
        	span{
        		border-bottom: 1px dotted #205aa1;
        	}
        }
    }
}


.adventages {
    padding: 12rem 0 0;

    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        &--item {
            width: 33.33333333333333333%;
            text-align: center;
            margin-bottom: 4.6rem;
            position: relative;

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &:after {
                content: '';
                position: absolute;
                height: 2rem;
                width: 2rem;
                background: transparent url('../img/cross.svg') center no-repeat;
                background-size: 100% 100%;
                top: 50%;
                right: 0;
                transform: translateY(-3rem)
            }
        }

        &--header {
            font-size: 1.8rem;
            letter-spacing: 0.008rem;
            text-transform: uppercase;
            color: #000000;
            font-weight: 700;
            letter-spacing: .09rem;
        }

        &--img {
            width: 12rem;
            height: 12rem;
            margin-right: auto;
            margin-left: auto;
            border-radius: 50%;
            background-color: $mainEl;
            margin-bottom: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &.bus {
                svg {
                    height: 4rem;
                }
            }

            svg {
                fill: #fff;
                height: 5.6rem;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        &--item {
            width: 33.333%;
            text-align: center;
            margin-bottom: 3.8rem;
        }

        &--header {
            font-size: 1.8rem;
            font-weight: 700;
            color: #111010;
            margin-bottom: .7rem;
        }

        &--text {
            color: #5c6269;
            font-size: 1.4rem;
            padding: 0 2.5rem;
        }

        &--ok {


            margin-bottom: .8rem;

            svg {
                margin-right: auto;
                margin-left: auto;
                display: block;
                width: 2.6rem;
                height: 2.6rem;
                fill: $mainEl;
            }

            text-align: center;
        }
    }

    &__content {
        border: 0.1rem solid #dfdfdf;
        position: relative;
        padding-top: 6.8rem;
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .section-header {
        position: absolute;
        top: -1rem;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        padding: 0 7rem;
        width: 100%;
        max-width: 63rem;
        &--mobile{
        	display: none;
        }

    }
}


.service {
    padding: 9rem -0px 7rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__row {
        width: calc(66.6666% - 15px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &--single {
            width: calc(33.3333% - 15px);

            .service__item {
                width: 100%;
                height: 40.6rem;
                align-items: flex-start;
            }

            .service__item--bg {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .service__text {
                color: #ffffff;
                text-transform: uppercase;
                font-size: 2.4rem;
                line-height: 1.5;
                padding: 3rem;
                padding-top: 2rem;

                &:before {
                    display: none;
                }

            }
        }
    }

    &__text {
        position: relative;
        z-index: 2;
        padding: 2rem;
        padding-bottom: 1.7rem;
        font-size: 1.8rem;
        color: #000000;
        line-height: 1.333333;

        span {
            display: block;
        }

        &:before {
            content: '';
            position: absolute;
            top: .6rem;
            left: 2rem;
            width: 4.5rem;
            height: 0.4rem;
            background-color: #ff8a1e;
        }
    }

    &__item {
        border: 0.1rem solid #dfdfdf;
        margin-bottom: 3rem;
        border-radius: 0.2rem;
        width: calc(50% - 15px);
        height: 18.8rem;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        transition: .5s;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 15px rgba(#000,.5)
        }

        &--bg {
            font-size: 0;
            position: absolute;
            top: 0;
            right: 0;
            &Mobile{
            	display: none;
            }
        }
    }
}

.manufacturers {
    background-color: #f5f7f9;
    padding-top: 4.8rem;
    padding-bottom: 5rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__slider{
    	position: absolute ;
    	z-index: -1 ;
    	top: 0;
    	opacity: 0;
    	width: 30%;
    	.owl-dots{
    		display: none;
    	}
    }

    &__item {
        background-color: #fff;
        font-size: 0;
        width: calc(33.3333333% - 15px);
        height: 20.3rem;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 90%;
        }
    }
}

.contact {
    background-color: #f5f7f9;
    position: relative;



    .container {
        position: relative;
        padding-top: 7.5rem;

        // &:before {
        //     content: '';
        //     position: absolute;
        //     width: calc(100% - 30px);
        //     height: 2px;
        //     background-color: #fff;
        //     left: 50%;
        //     top: 0;
        //     transform: translate(-50%, -50%)
        // }
    }

    .section-header {
        margin-bottom: 2.9rem;
    }

    &__content {
        background-color: #5c6269;
        padding: 6.6rem 6rem 7.4rem;
        color: #fff;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 0.2rem;
        position: relative;
        width: 100%;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0.1rem solid #f5f7f9;
            border-radius: 0.2rem;
            opacity: 0.2;
        }

    }

    &__item {
        width: 33.3333333333%;
        text-align: center;
        position: relative;
        z-index: 1;

    }

    &__header {
        font-size: 2.4rem;
        margin-bottom: 4rem;
        position: relative;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            width: 4.6rem;
            height: 0.5rem;
            background-color: $mainEl;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 1.6rem)
        }
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 1.3rem;
        color: #fff;
        text-decoration: none;
        display: block;
    }

    &__phone {
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.131rem;
        margin-bottom: 3.6rem;
        line-height: .7;

        span {
            border-bottom: 1px dotted #fff;
        }
    }

    &__btn {
        font-size: 1.6rem;
        letter-spacing: 0.04rem;
        border: 0.1rem solid rgba(#ffffff, .3);
        display: inline-block;
        padding: 1rem 2rem;
        transition: .5s;
        &:hover{
            cursor: pointer;
            background-color: #fff;
            color: #5c6269;
        }
    }

    &__mail {
        color: #fff;
        justify-content: center;
        margin-top: 1.6rem;

        span {
            border-color: #fff;

        }

        svg {
            fill: #fff
        }
    }
}


.footer {
    background-color: #f5f7f9;
    padding: 4rem 0 8rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__copyright {
        font-size: 1.4rem;
        color: #5c6269;
        padding-right: 2rem;
    }


    &__social {
        display: flex;
        margin-left: 7rem;

        svg {
            width: 4rem;
            height: 4rem;
            margin: 0 2.4rem;
            fill: #5c6269;
            transition: .5s;
        }

        a {
            &:hover {
                svg {
                    fill: #205aa1;
                }
            }
        }
    }

    &__up {
        font-size: 1.4rem;
        margin-left: auto;

        a {
            color: #205aa1;
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        svg {
            height: 4rem;
            fill: #205aa1;
            margin-left: 2rem;

        }
    }
}

input.error{
    border-color: red !important
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#13120e, .5);
    z-index: 150;
    display: none;	
    overflow: auto;

    &__box {
        box-shadow: -1rem 0.6rem 2.4rem rgba(104, 104, 104, 0.58);
        border-radius: 0.3rem;
        background-color: #ffffff;
        position: relative;
        top: 10vh;
        max-width: 60rem;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding: 2.8rem 12rem 3rem;
        margin-bottom: 20px;
    }

    &__header {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3.3rem;
        position: relative;
        &--mobile{
        	font-size: 2.4rem;
        	font-weight: 700;color: #111010;
        	text-align: left;
        	margin-bottom: 2.7rem;
        	display: none;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1.4rem;
            width: 4.5rem;
            height: 0.4rem;
            background-color: $mainEl;
            transform: translate(-50%, -50%)
        }
    }
    .input__box{
    	display: block;
    	font-size: 1.8rem;
    	span{
    		color: #ca1111;
    	}
    }
    input[type=tel], input[type=text]{
    	display: block;
    	margin-top: .6rem;	
    	margin-bottom: 2.9rem;	border: 0.1rem solid #5c6269;background-color: #ffffff;border-radius: 0.2rem;text-align: center;	
    	padding: 1.5rem;	
    	width: 100%;	
    	max-width: 32rem;
    	margin-right: auto;	margin-left: auto;	
    	&::placeholder{
    		ccolor: #5c6269;
    		transition: .5s;
    	}
    	&:focus{
    		&::placeholder{
    			color: transparent
    		}
    	}
    }

    &__close {
        position: absolute;
        top: 3rem;
        right: 3rem;

        svg {
            height: 2.6rem;
        }
        &:hover{
        	cursor: pointer;	
        }
    }
}