@media (max-width: 1200px) {
    .header {

        &__nav,
        &__btn {
            display: none;
        }
        .header__nav a:hover, .header__nav--mobile a:hover{
        	color: #fff;
        }

        &__nav--mobile {
            background-color: #ff8a1e;
            position: absolute;
            display: block;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            padding: 20px;
            padding-bottom: 25px;
            width: 100%;
            max-width: 278px;
            right: 0;
            bottom: 0;
            transform: translate(100%, 100%);
            transition: .5s;

            &.active {
                transform: translate(0, 100%);
            }

            &:after {
                content: '';
                position: absolute;
                background-color: #ffffff;
                opacity: .15;
                height: 1px;
                width: 100%;
                left: 0;
                top: 80px;
            }

            a {
                padding: 0;
                margin-bottom: 15px;
            }

        }

        &__btn--mobile {
            display: block;
            margin-bottom: 6rem;
            background-color: #ffffff;
            color: #ff8a1e;
            font-size: 16px;
            width: 165px;
            font-size: 16px;
            padding: 11px;
            margin-right: auto;
            margin-left: auto;
            text-transform: none;

        }

        &__top {
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__phone {
            margin-bottom: 1.5rem;
            margin-top: .5rem;
        }

        &__logo {
            margin-top: .5rem;
            padding-right: 7rem;

            svg {
                height: 7.35rem;
            }
        }

        &__content {
            padding-top: 0;
        }

        &__burger {
            display: block;
            top: 50%;
            right: 15px;
            width: 50px;
            height: 50px;
            // transform: translateY(-50%);
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 15;
            transition: .5s;

            &.active {
                transform: translateY(-50%) rotate(90deg)
            }

            span {
                width: 100%;
                display: block;
                height: 4px;
                background-color: #000;
                position: relative;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    top: 0;
                    left: 0;
                    transform: translateY(-15px)
                }

                &:before {
                    transform: translateY(15px)
                }
            }
        }
    }

    .main .btn--big {
        font-size: 2rem;
    }

    .about__header {
        font-size: 2.7rem;
    }

    .about__video--box {
        width: 466px;
        height: 262px;
    }

    .service__row--single,
    .service__row {
        width: 100%;

    }

    .service__row--single {
        .service__item {
            height: 188px;
        }

        .service__item--bg {
            display: none;
        }

        .service__item--bgMobile {
            display: block;
        }
    }

    .service {
        padding: 5rem 0;

        .section-header {
            margin-bottom: 28px;
        }
    }

    .service__row--single .service__text {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 2.7rem;
        line-height: 1.5;
        padding: 4.5rem;
    }

    .service__item {
        height: 21.8rem;
    }

    .service__text {
        font-size: 2rem;
        padding-left: 2.5rem;
    }

    .review {
        padding-bottom: 1rem;
    }

    .review__slider--item {
        width: 96%;
    }

    .review__slider .owl-dots {
        display: block;
        position: absolute;
        bottom: 3rem;
        width: 100%;
        width: auto;
        left: 50%;
        transform: translateX(-50%)
    }

    .review__slider .owl-nav {
        position: relative;
        transform: none;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .review .container {
        padding: 0;
    }

    .review__slider .owl-nav .owl-next,
    .review__slider .owl-nav .owl-prev {
        transform: none;

        svg {
            opacity: 0;
        }

        span {
            display: inline-block;
            height: 20px;
            width: 20px;
            background: transparent url('../img/arrow.svg') center no-repeat;
            background-size: 100% 100%;

        }
    }

    .review__slider .owl-nav .owl-next span {
        transform: scale(-1, 1)
    }


}

@media (max-width: 992px) {
    html {
        font-size: 9px;
    }

    .main {
        padding-top: 13.5rem;
        padding-bottom: 5.5rem;

        &__header {
            font-size: 4rem;
            line-height: 1.4;
            margin-bottom: 4.5rem;
        }

        &__subheader {
            font-size: 2.7rem;
            margin-bottom: 2.6rem;
        }

        .btn--big {
            font-size: 1.8rem;
            padding: 1.3rem 2.2rem;
        }
    }

    .about {
        padding-top: 3.2rem;
    }

    .section-header {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .about__slider {
        margin-bottom: 35px;
    }

    .about__slider .owl-dots {
        transform: translate(-50%, -1.7rem);
    }

    .about__content {
        flex-wrap: wrap;
    }

    .about__item {
        width: 100%;
    }

    .about__header {
        text-align: center;
        max-width: 74rem;
        margin-right: auto;
        margin-left: auto;

        span {
            display: inline;
        }

        &:after {
            left: 50%;
            transform: translate(-50%, 17px)
        }
    }

    .about__text {
        text-align: center;
        font-size: 16px;
    }

    .about__video--box {
        width: 554px;
        height: 312px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 40px;
    }

    .about__video {
        display: flex;
        flex-direction: column-reverse;
    }

    .about__video--link {
        justify-content: center;
        margin-top: 20px;
    }

    .manufacturers__item {
        height: 122px;
    }

    .contact__content {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .contact__text {
        span {
            display: block;
        }
    }

    .footer__copyright {
        span {
            display: block;
        }
    }

    .footer__social {
        margin-left: 26px;
    }

    .footer {
        padding: 20px 0;
    }

    .review {
        padding: 30px 0;
    }

    .review__slider {
        margin-top: 35px;
    }

    .review__img {
        width: 34%;
    }

    .review__info {
        width: 66%;
        padding: 1.8rem 2.5rem 3rem 3.8rem;
    }

}


@media (max-width:768px) {
    html {
        font-size: 9px;
    }

    .header__phone {
        letter-spacing: 0;
        font-size: 24px;
    }

    .header__logo {
        padding-right: 5vw;
    }

    .header {
        padding-bottom: .5rem;
    }

    .adventages__top--item:after {
        display: none;
    }

    .adventages {
        padding-top: 11rem;

    }

    .adventages__content {
        padding-top: 4.8rem;
        border: none;
    }

    .adventages__top--img {
        width: 121px;
        height: 121px;
    }

    .adventages__bottom--item {
        width: 50%;
    }

    .adventages__top--item {
        margin-bottom: 5rem;
    }

    .adventages__bottom--text {
        color: #5c6269;
        font-size: 1.6rem;
        padding: 0 1.5rem;
    }

    .service__row--single .service__item--bgMobile {
        display: none;
    }

    .service__row--single .service__item--bg320 {
        display: flex;
        height: 232px;

    }

    .service__row--single .service__item--bg img {
        // width: auto;height: 100%;
    }




}

@media (max-width: 730px) {
    .contact__content {
        flex-direction: column;
        padding-bottom: 7px;
        padding-top: 50px;
    }

    .contact__item {
        width: 100%;
        margin-bottom: 40px;

        &:nth-child(1) {
            order: 3;
        }
    }

    .footer .container {
        flex-direction: column;
    }

    .footer__social {
        order: -1
    }

    .footer__up {
        width: 100%;
        font-size: 0;
        order: -1;
        margin-top: 40px;
        margin-bottom: 20px;

        a {
            width: 100%;
        }

        svg {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .footer__social {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        justify-content: space-around;
        max-width: 50rem;
    }

    .footer__copyright {
        padding: 0;

        span {
            display: inline;
        }
    }

    .review__slider {
        margin-top: 0;
    }

    .footer__social svg {
        margin: 0;
    }

    .review__img {
        display: none;
    }

    .review__info {
        width: 100%;

        padding: 1.8rem 2.5rem 3rem 3.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .review__slider--item {
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 0;

    }

    .review .section-header {
        span {
            display: none;
        }

        font-size: 30px;
        margin-bottom: 7px;
    }

    .review__header {
        font-size: 17px;
        text-align: center;

        &:after {
            left: 50%;
            transform: translate(-50%, 20px)
        }
    }

    .review__text {
        text-align: center;
        display: none;
        &--mobile{
        	display: block;
        }
    }
}

@media (max-width: 576px) {
	.about__slider .owl-dots{
		display: none;
	}
    .header__phone,
    .header__mail {
        display: none;
    }
    .popup__header{
        display: none;
    }
    .popup__header--mobile{
        display: block;
    }
    .popup__box{
        padding: 20px 15px;
        max-width: 290px;
    }

    .header__logo svg {
        height: 60px;
    }

    .header__burger,
    .header__burger span {
        width: 38px;
    }

    .header__burger span {
        height: 3px;
    }


    .header__nav--mobile {
        max-width: none;

        &:after {
            top: auto;
            bottom: 57px;
        }
    }

    a.header__phone--mobile {
        display: block;
        font-size: 28px;
        color: #ffffff;

        span {
            display: inline-block;
            border-bottom: 1px dotted #fff
        }
    }

    .header__btn--mobile {
        margin-bottom: 20px;
    }

    a.header__mail--mobile {
        display: block;
        color: #ffffff;
        font-size: 14px;
        margin-top: 20px;
        text-transform: none;
        margin-bottom: 0;

        span {
            border-color: #fff
        }

        svg {
            fill: #fff
        }
    }

    .main {
        background: #fff;
        color: #000;
        padding-top: 11.5rem;

        .container {
            padding: 0 10px;
        }

        &__header {
            font-size: 30px;
            letter-spacing: 0.15px;
            margin-bottom: 30px;

            span {
                font-size: 18px;

                &:first-child {
                    margin-top: 7px;
                }
            }
        }

        &__subheader {
            display: none;

            &--mobile {
                display: block;
                font-size: 18px;
                margin-bottom: 18px;
            }
        }

        .btn--big {
            font-size: 1.8rem;
            padding: 1.7rem 3.5rem;
            margin-bottom: 17px;
        }

        &__mail {
            color: #205aa1;

            svg {
                fill: #205aa1;
            }

            span {
                border-color: #205aa1;
            }
        }
    }

    .about__video--box {
        width: 450px;
        height: 260px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 40px;
    }

    .about__text {
        display: none;
        font-size: 14px;
        line-height: 18px;
        // margin-bottom: 43px;
    }

    .about__text--short {
        display: block;
        font-size: 14px;
        line-height: 18px;
        // margin-bottom: 43px;
        text-align: center;
    }

    .about__header {
        font-size: 18px;
        display: none;

        &--mobile {
            display: block;

            span {
                display: block;
            }
        }
    }

    .about__text--more {
        margin-top: 16px;
        color: #205aa1;
        font-size: 14px;
        text-align: center;

        span {
            border-bottom: 1px dotted #205aa1
        }
    }

    .adventages {
        padding-top: 7rem;

        .section-header {
            display: none;
        }

        .section-header--mobile {
            display: block;
            font-size: 30px;
            padding: 0;
        }
    }

    .adventages__top--item,
    .adventages__bottom--item {
        width: 100%;
    }

    .adventages__top--item {
        margin-bottom: 4.5rem;
    }

    .adventages__bottom--text {
        font-size: 14px;
        padding: 0;
    }

    .adventages__content {
        padding-top: 30px;
    }

    .container {
        padding: 0 13px;
    }

    .service__item {
        width: 100%;
        height: 188px;
    }

    .service__row--single .service__text {
        font-size: 24px;
        line-height: 36px;
        padding: 22px;
    }

    .service__row--single .service__item {
        height: 232px;
    }

    .service__text span {
        display: inline;
    }

    .manufacturers__content {
        display: none;
    }

    .manufacturers__slider {
        display: block;
    }

    .manufacturers__item {
        width: 220px;
        margin-right: auto;
        margin-left: auto;
    }

    .manufacturers__slider {
        z-index: 0;
        position: relative;
        top: auto;
        width: 100%;
        opacity: 1;

        .owl-nav {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-100%);
            display: flex;
            justify-content: space-between;
        }

        .owl-prev,
        .owl-next {
            left: 0;

            span {
                display: inline-block;
                height: 20px;
                width: 20px;
                background: transparent url('../img/arrow.svg') center no-repeat;
                background-size: 100% 100%;

            }

            svg {
                opacity: 0;
            }
        }

        .owl-next {
            span {
                transform: scale(-1, 1)
            }
        }
    }

    .manufacturers {
        .section-header {
            font-size: 30px;
            margin-bottom: 34px;
        }
    }
    .contact .container{
        padding-top: 35px;
    }
    .contact .section-header{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .service{
        padding-bottom: 1rem;
        padding-top: 3rem;
        border-top: 2px solid  #f5f7f9;
    }
    .adventages__bottom--item{
        margin-bottom: 28px;
    }
    .review{
        padding-bottom: 2px;
    }
 .review__slider .owl-nav svg{
    height: 0;
 }
 .review__slider .owl-nav{
    margin-top: 0;
    margin-bottom: 20px;

 }
 .review__slider .owl-dots{
    bottom: 0;
 }
.about__slider{
    margin-bottom: 20px;
}
.about{
    padding-bottom: 20px;
    border-top: 2px solid  #f5f7f9;
}
.about__header--mobile{
    margin-bottom: 40px;
    &:after{
        transform: translate(-50%, 23px);
        height: 3px;
    }
}
.review__header:after{
    height: 3px;
}


}

@media (max-width: 480px) {
    .about__video--box {
        width: 290px;
        height: 164px;
    }
}

@media (max-width: 320px) {}



// .header,
// .main,
// .about,
// .review,
// .adventages,
// .service,
// .manufacturers,
// .contact
// .footer
// {
//     display: none;
// }