@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/clearsans-bold-webfont.woff2') format('woff2'),
        url('../fonts/clearsans-bold-webfont.woff') format('woff'),
        url('../fonts/clearsans-bold-webfont.ttf') format('truetype'),
        url('../fonts/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}



@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/clearsans-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/clearsans-bolditalic-webfont.woff') format('woff'),
        url('../fonts/clearsans-bolditalic-webfont.ttf') format('truetype'),
        url('../fonts/clearsans-bolditalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/clearsans-regular-webfont.woff2') format('woff2'),
        url('../fonts/clearsans-regular-webfont.woff') format('woff'),
        url('../fonts/clearsans-regular-webfont.ttf') format('truetype'),
        url('../fonts/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

* {
    font-family: 'clear_sans', sans-serif;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {

    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

$mainEl :#ff8a1e;

.container {
    max-width: 1170px;
}

.btn {
    background-color: $mainEl;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 1.1rem 2.2rem;
    transition: .5s;
    border: none;

    &:hover {
        background-color: #ff631e;
        cursor: pointer;
    }

    &:active {
        background-color: #e37918;
    }

    &--big {
        background-image: linear-gradient(to top, rgba(255, 255, 0, 0.28) 0%, rgba(255, 110, 2, 0.28) 50%, rgba(255, 255, 0, 0.28) 100%);
        padding: 2.55rem 5rem;
        border-radius: 4rem;
        display: inline-block;
        display: inline-flex;
        align-items: center;
        position: relative;
        justify-content: center;

        &:hover {
            background-image: linear-gradient(to top, rgba(255, 255, 0, 0.28) 0%, rgba(255, 110, 2, 0.28) 50%, rgba(255, 255, 0, 0.28) 100%);
        }

        &:active {
            background-color: #e37918;
        }

        svg {
            fill: #fff;
            height: 2.9rem;
            width: 2.9rem;
            position: absolute;
            left: 1.5rem;top: 50%;
            transform: translateY(-50%);    
            margin-right: 1.5rem;
        }
    }
}

.mail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #205aa1;
    font-size: 1.6rem;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    span {
        border-bottom: 1px dotted #205aa1;
    }

    svg {
        fill: #205aa1;
        width: 2.2rem;
        margin-right: 1rem;
    }
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background-color: transparent;
}
.checkbox {
    display: none;
    &.error{
       +.checkbox__custom{
        border-color: red;
       } 
    }
    &:checked{
        +.checkbox__custom{
            position: relative; 
            &:before{
                content: '';
                position: absolute; 
                top: 2px;   
                bottom: 2px;    right: 2px; left: 2px;  
                background:   url('../img/check.svg') center no-repeat;
                background-size: 100% 100%;  
            }
        }
    }

    &__text {
        color: #5c6269;
        font-size: 1.3rem;
        text-align: left;
    }

    &__custom {
        border: 0.1rem solid rgba(#5c6269, .3);
        margin-right: .9rem;
        display: inline-block;
        height: 1.6rem;
        width: 1.6rem;
        min-height: 1.6rem;
        min-width: 1.6rem;
        border-radius: 0.2rem;
    }

    &__box {
        display: block;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 1.7rem;  
        &:hover{
            cursor: pointer;    
        }
    }
}