@media (max-width: 1860px) {
    .roots {
        .container {
            position: relative;
            z-index: 1;
        }
    }

    .notAll:before {
        max-width: 35vw;
    }
}

@media (max-width: 1350px) {

    .header .container,
    .footer .container {
        max-width: 1200px;
    }

    .slick-slider {
        padding: 0 4rem;
    }

    .review__arrow--prev {
        left: 3rem;
    }

    .review__arrow--next {
        right: 3rem;
    }


    .main {
        padding-top: 5rem;

        &__info {
            padding-left: 3rem;

            &:before {
                left: 0;
            }
        }
    }

    .review__item--text {
        font-size: 1.3rem;
        transition: .5s;
    }

    .review__slide.slick-current .review__item {
        .review__item--text {
            font-size: 1.8rem;
        }
    }

    .main__info:after {
        left: -.7rem;
    }

    .happen {
        .container {
            padding-left: 15px;
        }
    }

    .thanksPage {
        .about__info {
            background-color: transparent;
        }
    }
}


@media (max-width: 1200px) {
    .main__info p {
        font-size: 1.7rem;
    }

    .plan:before{
        background-size: 60%;
    }

    .thanksBunner:after {
        display: none;
    }

    .thanksBunner .reason__btn {
        font-size: 20px;
    }

    .confResult:after {
        display: none;
    }
    .plan__info{
        background-color: transparent;
    }

    .consists .container {
        font-size: 1.7rem;
    }


    .notAll:after {
        bottom: 50%;
        opacity: .8;
    }

    .main__content {
        align-items: center;
    }

    .notAll:before {
        max-width: none;
        top: 0;
        background-position: 50% 50%;
    }

    .consists__item:nth-child(1) .consists__text {
        max-width: 20rem;
    }

    .main {
        padding-bottom: 5rem;

        .container {
            position: relative;
            z-index: 1;
        }
    }

    .main__form {
        max-width: 44rem;
    }

    .form input {
        width: 20rem;
        max-width: 100%;
        font-size: 1.8rem;
    }

    .notAll {
        padding-top: 4rem;
        background-image: url('../img/notAll__bg--mob.jpg');
    }

    .main__form--btn {
        padding: 2rem;
    }

    .form__header {
        font-size: 2rem;
    }

    .form .btn {
        max-width: 25rem;
    }

    .happen {
        .container {
            flex-wrap: wrap;
        }

        &__header {
            width: 100%;
            text-align: center;
            margin-bottom: 4rem;
            margin-top: 0;

            &:after {
                left: 50%;
                transform: translate(-50%, 2rem)
            }
        }

        &__content {
            width: 100%;
            justify-content: center;
            text-align: center;
        }

        &__ico {
            text-align: center;

            img {
                margin-right: auto;
                margin-left: auto;
            }
        }


    }

    .roots__header {
        text-align: center;
    }

    .roots__old--text {
        span {
            display: inline;
        }
    }

    .about__img {
        align-items: center;

        img {
            width: 100%;
            height: auto;
            transform: none
        }
    }

    .roots__bg {
        img {
            max-width: 70vw;
        }

        display: none;
        top: 21rem;
    }

    .knowledge .container {
        position: relative;
        z-index: 10;
    }

    .hand__bg {
        display: block;
        position: absolute;
        left: 0;
        top: -45rem;

        img {
            max-width: 70vw;
        }
    }

    .knowledge__list--box {
        padding-left: 3rem;
    }

    .knowledge .container {
        max-width: none;
        padding: 0;
    }

    .knowledge__info {
        margin-right: 2rem;
    }

    .main__subheader {
        font-size: 2rem;
    }

    .main__header {
        font-size: 4rem;
        text-shadow: 3px 3px 7px rgba(#000, .3)
    }

    .date {
        margin-bottom: 2rem;
        font-size: 2rem;
        justify-content: center;

        &__value {
            margin: 0 3rem;
        }
    }


}

@media (max-width: 992px) {
    html {
        font-size: 9px;
    }

    .review__item {
        max-width: 60rem;
        margin-right: auto;
        margin-left: auto;
    }
    .review__slide.slick-current .review__item{
        margin-left: auto;margin-right: auto;
    }

    .thanksBunner .reason__btn {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .slick-slider{
        max-width: 60rem;margin-left: auto;margin-right: auto;
    }
    .review__item--text{
        font-size: 1.8em;
    }


    .notAll__content {
        flex-wrap: wrap;
    }

    .date__row {
        margin-top: 0;
    }

    .date {
        width: 100%;

        // margin-right: 0;margin-left: 0;
    }

    .main__subheader {
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto;
    }

    .notAll__price {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
    }

    .notAll__video--header {
        margin-top: 0;
    }

    .notAll iframe {
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3rem;
        display: block;
    }

    .notAll__block {
        width: 100%;
        padding: 0;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .main__content {
        flex-wrap: wrap;
    }

    .main__info {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .main__form {
        width: 100%;
        max-width: 50rem;
        margin-right: auto;
        margin-left: auto;
        order: -1;
        margin-bottom: 3rem;
    }

    .main__subheader {
        margin-bottom: 4rem;
    }

    .form {
        display: none;
    }

    .main__form--mobile {
        display: block;
        margin-right: auto;
        max-width: none;

        input,
        button {
            max-width: 50rem;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .roots__old--text {
        font-size: 1.9rem;
    }

    .roots__old {
        padding-right: 4rem;
    }

    .roots__problem li:before {
        left: 1.5rem;
    }

    .roots__problem {
        font-size: 1.8rem;
    }



    .knowledge {
        background: none;
        padding-top: 1rem;
        padding-bottom: 3rem;

        .container {
            padding: 0;
        }

        &__header {
            margin-bottom: 4rem;
            position: relative;
            z-index: 1;
        }

        &__content {
            flex-wrap: wrap;
        }

        &__bg {
            top: auto;
            bottom: 0;
            // display: none;
            z-index: 10;

            img {
                width: 52rem;
                max-width: 20vw;
                height: auto;
            }
        }

        &__list--box {
            width: 100%;
            margin-bottom: 4rem;
            background: transparent url('../img/knowledge__bg.jpg') left center no-repeat;
            background-size: auto 100%;
            padding: 5rem 2rem;
        }

        &__info {
            margin-right: auto;
            margin-left: auto;
            padding-top: 0rem;
            width: 100%;
            max-width: 50rem;

            p {
                margin-top: -1rem;
            }

        }

        &__list {
            max-width: 50rem;
            margin-right: auto;
            margin-left: auto;

            &--header {
                text-align: center;
                max-width: 70rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    .about {
        background-size: 100% auto;
        margin-top: 2rem;

        &__info {
            left: 0;
            width: 100%;
            background: none;

            &:before {
                display: none;
            }
        }

        &__text {
            margin-right: auto;
            margin-left: auto;
            max-width: 80rem;
        }

        &__header {
            text-align: left;
            display: block;
            max-width: 40rem;
            margin-right: auto;
            margin-left: auto;
            // left: 50%;
            // transform:translateX(-50%)
        }

        &__img {
            display: none;

            &--mobile {
                display: block;
                text-align: center;
                margin-bottom: 2rem;

                img {
                    width: 100%;
                    max-width: 40rem;
                    margin-right: auto;
                    margin-right: auto;

                }
            }
        }
    }

    .footer {
        background-image: none;
        padding: 2rem 0;
        margin: 0;
        display: none;

        img {
            height: 30px;
        }
    }

    .question__item {
        width: 50%;
    }
}


@media (max-width:768px) {
    html {
        font-size: 8px;
    }
    .plan:before{
        top: 0;
    }

    .thanksBunner .container {
        flex-wrap: wrap;
    }

    .thanksBunner__text {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .thanksBunner__right {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .thanksBunner__right .reason__price {
        padding: 0;
    }

    .thanksBunner .reason__btn {
        margin-bottom: 24px;
    }

    .thanksBunner:before {
        background: transparent url('../img/thanksBanner__bg--mob.jpg') center no-repeat;
        background-size: cover;
    }



    .confResult__content {
        flex-wrap: wrap;
    }

    .confResult__item {
        width: 50%;
    }

    .header {
        padding: 1.5rem 0;
    }

    .consists {
        padding: 3rem 0;
    }

    .consists .container {
        flex-wrap: wrap;
    }

    .notAll {
        background-position: 100% 100%;
        background-size: 100% auto;
    }

    .main__subheader {
        font-size: 1.8rem;
        max-width: 50rem;
        margin-right: auto;
        margin-left: auto;
    }

    .main__info:before {
        display: none;
    }

    .consists__item:nth-child(1) .consists__text {
        max-width: 30rem;
    }

    .consists__text {
        font-size: 18px;
    }

    .consists__text {
        max-width: 34rem;
    }

    .consists__item {
        width: 100%;
        margin-bottom: 2rem;
    }

    .main__info {
        padding: 0;
        text-align: center;
        padding-bottom: 4rem;

        &:after {
            border-left: none;
        }
    }

    .happen {
        &__header {
            margin-bottom: 6rem;
        }

        &__item {

            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 40px;
            }

            width: 100%;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__ico {
            margin-bottom: 30px;
        }
    }

    .roots__header {
        font-size: 3rem;
    }

    .roots__content {
        flex-wrap: wrap;
    }

    .roots__problem {
        width: 100%;
        order: -1;
        margin-bottom: 7rem;

    }

    .roots__old {
        width: 100%;

        &--content {
            margin-right: auto;
            border-left: none;
            border-bottom: none;
            text-align: center;


        }
    }

    .roots__old--content {
        border-top: none;
    }
}

@media (max-width: 576px) {

    .thanksBunner__text {
        font-size: 17px;
    }
    .thanksPage{
        background-size: 100% auto;
    }

    .plan:before{
        top: 58rem;
    }
    .review{
        padding: 4rem 0 0;
    }
    .review__arrow{
        height: 26px;width: 26px;
        top: 47%;
    }
    .review__arrow--next{
        right: 5rem;
    }
    .review__arrow--prev{
        left: 5rem;
    }
    .review{
        .container{
            padding: 0;
        }
        &__item{
            border-left: none;
            border-right: none;
            padding-bottom: 58px;
        }
        &__slider{
                padding: 0;
        }
    }
    .review__header{
        font-size: 27px;
        margin-bottom: 5rem;
    }

    .thanksBunner {
        padding: 4.3rem 0;
    }

    .banner {
        // background: transparent url('../img/banner__bg--mobele.jpg') center no-repeat;

        background: transparent url('../img/banner__bg - mobile.jpg') center no-repeat;
        background-size: cover;
        padding: 4.6rem 0;

        .container {
            padding: 0;
        }

        &__content {
            p {
                font-size: 15px;
                padding: 0 45px;
                text-align: center;
            }
        }

        &:before {
            display: none;
        }

        &__hint {
            background: #fff;
            background-image: none;
            padding: 14px 25px;
            font-size: 20px;
            text-align: center;
        }

    }

    .thanksPage .about {
        background: transparent url('../img/about__bg.jpg') bottom center no-repeat;
        background-size: auto 30%;
    }


    .safe__img {
        position: relative;
        transform: none;
        width: 80%;
        max-width: 37rem;
        top: 0;

        img {
            width: 100%;
        }
    }

    .safe__text {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:after {
            display: none;
        }

        &:before {
            display: none;
        }

        border: none;
    }

    .confResult:before {
        background-size: 100% auto;
    }

    .reason__text {
        font-size: 18px;

        &:last-of-type {
            margin-bottom: 6rem;
        }
    }

    .reason__btn {
        font-size: 17px;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        text-align: center;
        max-width: 300px;
    }

    .reason__header {
        font-size: 24px;
        max-width: 260px;
        margin-right: auto;
        margin-left: auto;
    }

    .confResult__item {
        width: 100%;
    }



    .question__item {
        width: 100%;
        margin-bottom: 5rem;
    }

    .question__header {
        display: none;
    }

    .question__header--mobile {
        display: block;
        font-size: 23px;
        text-align: center;
        margin-bottom: 5rem;
    }

    .notAll:after {
        bottom: auto;
        top: 0;
        transform: translateY(-60%);
    }

    .notAll__text {
        font-size: 16px;
        margin-bottom: 0;
    }

    .notAll:before {
        background-size: 100% auto;
    }

    .notAll__video--header {
        font-size: 12px;
    }

    .notAll__header {
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .thanksPage {
        .main__subheader {
            width: 100%;
            padding: 0 15px;
            max-width: 284px;
        }

        .main {
            background: transparent url('../img/main__bg.jpg') right top no-repeat;
            background-size: 250% auto;
        }
    }

    .notAll__btn {
        font-size: 17px;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        max-width: 33rem;
    }

    .date {
        font-size: 15px;
        padding-left: 7px;
        padding-right: 7px;

        &__value {
            margin: 0 1rem;
            margin-right: 0;
        }
    }

    .result {
        padding: 0 15px;
        text-align: center;

        p:nth-child(n+4) {
            text-align: center;
        }
    }

    .knowledge__header {
        font-size: 24px;
    }

    .knowledge__list--header {
        font-size: 18px;
        max-width: 230px;
        margin-bottom: 27px;
    }

    .knowledge__list li {
        font-size: 14px;
    }

    .knowledge__info {
        font-size: 14px;
    }

    .about__header {
        font-size: 20px;
        margin-bottom: 2rem;

        &:before {
            left: -20px;
        }
    }

    .about__info {
        padding: 0;
    }

    .about {
        padding-bottom: 4rem;
        background-size: auto 50%;
    }

    .about__text {
        text-align: center;

        p {
            font-size: 14px;
        }
    }

    .about .container {
        padding: 0 10px;
    }

    .footer .container,
    .header .container {
        justify-content: space-around;
    }


}

@media (max-width: 480px) {
    .plan__item--sell {
        display: block;
        text-align: center;
        // display: none;
    }



    .notAll__price--old {
        margin-left: 0;
    }

    .main {
        background-size: 200% auto;

        .container {
            padding: 0;
        }

        &__header {
            font-size: 21px;
        }

        &__subheader {
            font-size: 14px;
            width: 244px;
        }

        &__info {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 13px;

            p span {
                display: inline;
            }
        }
    }

    .plan__item {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .plan__item--header {
        padding: 0;
        font-size: 19px;

        &:after {
            display: none;
        }
    }

    .plan__info {
        border-right: none;
        padding: 4rem 2rem;
        padding-top: 0;


    }

    .plan .container {
        padding: 0;
    }

    .plan__number {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;

        &--bg {
            padding: 0;
        }
    }

    .plan__number--text {
        font-size: 28px;
        margin-bottom: 4.6rem;
    }
}

@media (max-width: 320px) {}



// .notAll,
// .consists,
// .plan,
// .question,
// .reason,
// .confResult,
// .safe,
// .about,
// .review {
//     display: none;
// }