.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #3b484f;
    padding: 1rem;
    font-size: 2rem;
    box-shadow: 0 0 15px rgba(#000, .2);
    z-index: 4;

    &.fixed {
        position: fixed;
        z-index: 15;
        animation: header 1s;

        transform: translateY(0%);

    }

    &.unfixed {
        animation: headerRemove 1s;
    }

    @keyframes header {
        0% {
            transform: translateY(-100%)
        }

        100% {
            transform: translateY(0%)
        }
    }

    @keyframes headerRemove {
        0% {
            transform: translateY(0%)
        }

        100% {
            transform: translateY(-100%)
        }
    }

    &__logo {
        filter: invert(.5);

        img {
            height: 6rem;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__nav {
        margin-left: auto;

        margin-right: 5vw;

        a {

            margin: 0 2rem;
            position: relative;

            &:hover {
                &:after {
                    transform: scale(1);
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $main;
                transition: .5s;
                transform: scale(0);

            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        a {
            text-align: right;
            position: relative;
            margin-bottom: .5rem;

            svg {
                fill: #000;
                opacity: .7;
                position: absolute;
                height: 2rem;
                left: 0;
                top: 50%;
                transform: translate(-115%, -50%);
                animation: phone 2s infinite;
            }

            @keyframes phone {
                0% {
                    transform: translate(-115%, -50%) rotate(3deg);
                }

                5% {
                    transform: translate(-115%, -50%) rotate(-3deg);
                }

                10% {
                    transform: translate(-115%, -50%) rotate(6deg);
                }

                15% {
                    transform: translate(-115%, -50%) rotate(-6deg);
                }

                20% {
                    transform: translate(-115%, -50%) rotate(3deg);
                }

                25% {
                    transform: translate(-115%, -50%) rotate(-3deg);
                }

                30% {
                    transform: translate(-115%, -50%) rotate(0deg);
                }

            }


            &:hover {
                &:after {
                    transform: scale(1);
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $main;
                transition: .5s;
                transform: scale(0);

            }

        }
    }
}

.main {
    min-height: 100vh;
    background-color: rgba(#fff, .8);
    padding-top: 10rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    align-items: flex-end;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        background: transparent url('../img/main__bg.jpg') center no-repeat;
        background-size: cover;
    }


    &__header {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $main;
        text-shadow: 0 0 15px rgba(#000, .1);
        width: 100%;
    }

    &__subheader {
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 6rem;
        width: 100%;

        span {
            display: block;
        }
    }

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 6rem;
    }

    &__down {
        width: 100%;
        display: block;

        align-self: flex-end;
        margin-bottom: 4rem;
        font-size: 1.3rem;

        text-transform: uppercase;

        span {
            display: inline-block;
            border: 1px solid $grey;
            border-radius: 4rem;
            padding: 2rem 4rem;
            transition: .5s;


            &:hover {
                border-color: $main;
                cursor: pointer;
                box-shadow: 5px 5px 15px rgba(#000, .3)
            }

            &:active {
                box-shadow: inset 0 0 30px rgba(#000, .3)
            }
        }
    }

    &__btn {
        margin-bottom: 20vh;
    }

}


.plus {
    padding: 7rem 0 5rem;

    &__header {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        font-weight: 400;
    }

    &__content {
        display: flex;
        justify-content: space-between;

    }

    &__img {
        width: calc(50% - 30px);

        img {
            width: 100%;
        }
    }

    &__list {
        width: 50%;

        list-style: none;

        h3 {
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: 400;
        }

        span {
            font-size: 1.4rem;
        }

        li {
            margin-bottom: 2.5rem;
            padding-left: 2rem;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 3rem;
                height: 3rem;
                background: transparent url('../img/check.svg') center no-repeat;
                transform: translate(-100%, 0)
            }
        }
    }
}


.how {
    background-color: rgba(#efefef, .3);
    padding: 6rem 0;

    &__header {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        font-weight: 400;
        text-align: center;
    }

    &__content {
        max-width: 92rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__img {

        font-size: 0;
        margin-bottom: 1rem;
    }

    &__item {
        width: 37%;
        text-align: left;
        position: relative;
        margin-bottom: 1rem;

        &:before {
            content: '';
            position: absolute;
            height: 3rem;
            width: 3rem;
            background-color: #fff;
            top: 50%;
            right: 0;
            border-radius: 50%;
            z-index: 4;
            transform: translate(59%, -35%);
            border: 5px solid $main;
        }

        &:last-child {
            &:before {
                display: none;
            }
        }


        &--header {
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }

        &--description {
            font-size: 1.4rem;
            padding-right: 3rem;
        }

        &--line {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(100%, 50%);

            &5 {
                transform: translate(95%, 50%);
            }
        }

        &:nth-child(2n) {
            margin-left: auto;
            text-align: right;

            .how__item--line {
                right: auto;
                left: 0;
                top: 0;
                transform: translate(-100%, 50%);

                &4 {
                    transform: translate(-95%, 50%);
                }
            }

            .how__item--description {
                padding-right: 0;
                padding-left: 3rem;
            }

            &:before {
                right: auto;
                left: 0;
                transform: translate(-50%, -50%)
            }
        }


    }

}

.line2 {
    display: block;
}

.service {
    padding: 6rem 0;
    border: 1px solid rgba($main, .2);
    border-left: none;
    border-right: none;
    // display: none;

    &__header {
        font-size: 3.5rem;
        margin-bottom: 8rem;
        font-weight: 400;
        text-align: center;

    }

    &__content {
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
    }

    &__ico {
        position: absolute;
        font-size: 20rem;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 15px rgba(#000, .3);
        top: 0;
        left: 0;
        line-height: 1;
        transform: translate(-17%, -25%);
        z-index: 1;
    }

    &__item {
        width: calc(33.33333333% - 30px);
        // border:1px solid $main;
        border-radius: 2px;
        padding: 3rem 2rem;
        position: relative;

        &--header {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: 2rem;
            position: relative;
            padding-bottom: 1rem;
            text-align: center;
            position: relative;
            z-index: 3;

            // font-weight: 700;
            &:after {
                content: '';
                position: absolute;
                width: 6rem;
                height: 1px;
                background-color: $main;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }
    }

    &__text {
        font-size: 1.5rem;
        font-weight: 300;
        // text-align: left;
        text-align: center;
        position: relative;
        z-index: 3;
    }

}

.plan {
    background-color: rgba(#efefef, .1);
    padding: 6rem 0;
    position: relative;

    &__arrow {
        position: absolute;
        stroke: #ffa923;
        height: 16rem;
        top: 0;

        &--right {
            right: 0rem;
            transform: translate(-92%, -33%);
        }

        &--left {
            left: 0;
            transform: translate(149%, 61%);
        }
    }

    &__header {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        font-weight: 400;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

    &__img {
        font-size: 0;
        margin-bottom: 1.5rem;
    }

    &__item {
        width: 33.33333333%;
        text-align: center;
        margin-bottom: 4rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 10rem;
            height: 1px;
            background-color: $main;
            top: 50%;
            margin-top: 1rem;
            right: 0;
            transform: translateX(50%)
        }

        &:nth-child(3),
        &:last-child {
            &:after {
                display: none;
            }
        }

        &--header {
            text-transform: uppercase;
            font-size: 1.7rem;
            max-width: 30rem;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1.5rem;
        }

        &--description {
            max-width: 25rem;
            margin-right: auto;
            margin-left: auto;
            font-size: 1.4rem;

        }

        &--mid {
            width: 100%;
            margin: 3rem 0 6rem;

            &:after {
                display: none;
            }
        }
    }

}


.about {
    padding: 6rem 0 5rem;
    background: transparent url('../img/about__bg.jpg') center top no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, .8);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__header {
        font-size: 3.5rem;
        margin-bottom: 3rem;
        font-weight: 400;
        text-align: center;
    }

    &__description {
        font-size: 1.8rem;
        border: 1px solid $main;
        margin-bottom: 6rem;
        border-radius: 2px;
        padding: 2rem 3rem;
        text-align: center;
        border-radius: 1rem;
        background-color: rgba(#fff, .6);
    }
}

.case {
    &__header {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        font-weight: 400;
        text-align: center;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        margin-top: 2rem;
        list-style: none;

        button {
            background-color: #fff;
            height: 2rem;
            width: 2rem;
            border: none;
            border-radius: 50%;
            margin: 0 1rem;
            // opacity: .5;
            transition: .5s;
            border: 1rem solid $main;

            &:hover {
                border: .7rem solid $main;
                cursor: pointer;
                opacity: .7;
            }
        }

        .slick-active {
            button {
                border: .5rem solid $main;
                opacity: 1;
            }
        }
    }

    &__item {
        display: flex;
        background-color: rgba(#fff, .8);
        border-radius: 3px;
        padding: 3rem;
        box-shadow: 0 0 15px rgba(#000, .3);
        margin: 1rem;
    }

    &__who {
        text-align: center;
        width: 40%;

        &--name {
            font-size: 2rem;
            margin-bottom: .7rem;
        }

        &--company {
            font-size: 1.4rem;
        }
    }

    &__avatar {
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        overflow: hidden;
        font-size: 0;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: auto;

        img {
            width: 100%;
        }
    }

    &__info {
        width: 60%;
        padding-left: 2rem;
        border-left: 1px solid rgba($main, .4);

        &--header {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 1.9rem;
        }
    }

    &__result {
        font-size: 1.7rem;
    }

    &__tasks {
        list-style: none;
        margin-bottom: 3rem;
        font-size: 1.7rem;

        li {
            position: relative;
            padding-left: 1rem;
            margin-bottom: 1rem;

            &:before {
                content: '';
                position: absolute;
                height: .8rem;
                width: .8rem;
                border-radius: 50%;
                background-color: $main;
                left: 0;
                top: 0;
                transform: translate(-50%, 60%)
            }
        }
    }
}

.partners {
    padding: 6rem 0;

    &__header {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        font-weight: 400;
        text-align: center;
    }

    &__block {
        margin-bottom: 5rem;

        &--header {
            font-size: 3rem;
            margin-left: 5rem;
            margin-bottom: 2rem;
            display: inline-block;
            position: relative;
            border-bottom: 2px solid $main;
            text-transform: uppercase;
        }
    }

    &__slider {
        font-size: 0;
        text-align: center;

        .slick-track {
            align-items: center;
            display: flex;
        }

        &--item {
            height: 100%;
        }

        img {
            max-width: 90%;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }
}


.calculate {
    background-color: rgba(#efefef, .1);
    padding: 6rem 0;
    border-top: 1px solid rgba($main, .3);
    border-bottom: 1px solid rgba($main, .3);
    font-size: 0;

    &__header {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        font-weight: 400;
        text-align: center;
    }

    &__description {
        text-align: center;

        font-size: 1.7rem;
        text-align: center;
        font-weight: 300;
        max-width: 100rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4rem;
    }

    &__btn {
        left: 50%;
        position: relative;
        transform: translateX(-50%)
    }
}

.contact {
    position: relative;
    font-size: 0;

    iframe {
        width: 100%;
        border: none;
        height: 40rem;
    }

    &__box {
        top: 4rem;
        position: absolute;
        background-color: $main;
        left: 60%;
        padding: 2rem;
        text-align: center;
    }

    &__link {
        color: #fff;
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: .9rem;
        display: block;
    }

    &__logo {
        img {
            height: 4rem;
            margin-bottom: 1rem;
        }
    }
}


.footer {
    background-color: $main;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 0;

    a {
        position: relative;
        padding-left: 2rem;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #000;
            top: 50%;
            left: 1rem;
            opacity: .5;
            transform: translate(0%, -50%)
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .4);
    overflow: hidden;
    overflow-y: auto;
    display: none;
    z-index: 150;

    &::-webkit-scrollbar {
        width: 0px;
        // height: 10px;
        background-color: rgba(#fff, .3);
        border-radius: 0px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: rgba(#000, 1);
        box-shadow: 0px 0px 0 0 red;
        border-radius: 0px;
    }

    &__box {
        background-color: #fff;
        position: relative;
        top: 15vh;
        max-width: 40rem;
        margin-right: auto;
        margin-left: auto;
        padding: 4rem 2rem 3rem;
        border-radius: 3px;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(#000, .3);
        transform: translateX(100vw);
        transition: .5s;

        &.show {
            transform: translateX(0);
        }
    }

    &__close {
        position: absolute;
        top: -1rem;
        right: -1rem;
        transform: translate(100%, -100%);

        &:hover {
            cursor: pointer;
        }

        svg {
            height: 3rem;
            fill: $main;
        }
    }

    &__header {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__btn {
        border: none;

    }
}

.input__box {
    display: block;
    text-align: left;
    font-size: 0rem;

    input {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        border: none;
        border-bottom: 1px solid $main;
        // border-radius: 4rem;
        padding: 1.1rem 2rem;
        transition: .5s;

        &::placeholder {
            transition: .6s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }


    }
}

.block-header {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7rem;

    &:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 2px;
        background-color: $main;
        left: 0;
        bottom: -2rem;
    }

    &:before {
        content: '';
        position: absolute;
        width: 30%;
        height: 2px;
        background-color: $main;
        top: -2rem;
        right: 0;
    }
}


.vacancy {
    padding: 0 0 6rem;

    &__top {
        padding-top: 16rem;
        padding-bottom: 6rem;
        background: rgba(#fff, .7);
        background-size: cover;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent url('../img/vacancy2.jpg') center 40% no-repeat;
            background-size: cover;
            z-index: -1;
        }
    }

    &__header {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        font-weight: 400;
        text-align: center;
    }

    &__subheader {
        text-align: center;
        font-size: 1.6rem;
    }

    &__content {
        padding: 5rem 0 0;
    }

    &__item {
        border: 1px solid $main;
        
        border-radius: 4px;
        margin-bottom: 2rem;
        transition: .5s;
        &:hover{
            box-shadow: 5px 5px 15px rgba(#000,.3)
        }

        &--header {
            font-size: 3rem;
            // margin-bottom: 2rem;
            padding: 1rem 0;
            padding: 1.2rem 3rem;

            &:hover{
                cursor: pointer;
            }
        }

        &--description {
            border-top: 1px solid rgba($main, .4);
            padding-top: 3rem;
            display: none;
            padding: 1.2rem 3rem;
        }

        &--text {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        &--strong {
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: 700;
            margin-top: 3rem;
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -.5rem;
                width: 30%;
                background-color: $main;
                height: 1px;
            }
        }

        &--list {
            list-style: none;
            margin-bottom: 2rem;
            font-size: 1.4rem;

            li {
                margin-bottom: 1rem;
                padding-left: 1rem;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    height: .8rem;
                    width: .8rem;
                    border-radius: 50%;
                    background-color: $main;
                    left: 0;
                    top: 0;
                    transform: translate(-50%, 60%)
                }
            }

        }

        &--form {
            max-width: 50rem;
            margin-right: auto;margin-left: auto;
            text-align: center;
        }
    }
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.input__file{
    width: 90%;
    margin-right: auto;margin-left: auto;
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
    margin-bottom: 2rem;
    border-bottom: 1px solid $main;
    &--text{
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 1rem;font-size: 1.4rem;overflow: hidden;



    }

    svg{
        fill:#fff;
        height: 3rem;
    }
    &--btn{
        padding:1rem 1.5rem;
        border-radius: 4rem 4rem 0 0;
    }
    input{
        display: none;
    }
}