html {
    font-size: 10px;
}

*,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

$main: #ffa923;
$grey: #3b484f;


.btn {
    background-color: $main;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    padding: 1.4rem 4rem;
    border-radius: 3rem;
    transition: .5s;
    border: none;

    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 15px rgba(#000, .3)
    }

    &:active {
        box-shadow: inset 0 0 30px rgba(#000, .3)
    }
}