@media (max-width: 1300px) {
    .main__reward {
        right: 0;
    }
}

@media (max-width: 1200px) {
    .circle__box--right {
        right: 1rem;
    }

    .circle__box--left {
        left: 1.5rem;
    }

    .review__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .review__subtitle {
        font-size: 2rem;
    }

    .review__content {
        max-width: 90rem;
        margin-right: auto;
        margin-left: auto;
    }

    .instruction__content {
        flex-wrap: wrap;
        // fdrr
        flex-direction: column-reverse;
    }

    .instruction__attention,
    .instruction__video {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        max-width: 70rem;
        width: 100%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 9px;
    }
.circleFix{
    display: none;
}
    .main__reward {
        justify-content: center;
    }

    .main__header {
        font-size: 3rem;
    }

    .proven .afterHeaderImg {
        display: block;
        max-width: 35rem;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: auto;
    }

    .proven__content,
    .proven__doctor {
        flex: 0 0 100%;
        max-width: none;
    }

    .proven__doctor {
        display: none;
    }

    .about__img img {
        margin-right: auto;
        margin-left: auto;
    }

    .about__bottom {
        flex-wrap: wrap;

    }

    .about__bottom--item {
        width: 100%;
        flex: 0 0 100%;
        max-width: none;
    }

    .about__plus {
        width: 33%;
        flex: 0 0 33%;
    }

    .order__img {
        display: none;
    }

    .order__about {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .order .afterHeaderImg {
        display: block;
        max-width: 20rem;
        margin-bottom: 2rem;
    }

    .order__subtitle {
        width: 100%;
        text-align: center;
    }

    .order__form {
        flex-direction: column;
        width: 30rem;
        text-align: center;

    }

    .order .inputBox,
    .order .btn {
        width: 100%;
        max-width: 30rem;
    }
    .thanks__header .container{
        flex-wrap: wrap;

    }
    .thanks__header{
        &--logo{
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;    
        }
    }
    .footer{
        a:last-child{
            display: block;
        }
    }

}


@media (max-width:768px) {
    html {
        font-size: 8px;
    }

    .main__content {
        flex-direction: column-reverse;
    }

    .main__info,
    .main__img {
        flex: 0 0 100%;
        max-width: none;
    }

    .main__info,
    .main__img {
        text-align: center;
    }

    .circle__box--right {
        top: 45rem;
    }

    .afterHeaderImg {
        display: block;
        max-width: 35rem;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: auto;
    }

    .blockHeader {
        span {
            display: inline;
        }
    }

    .main {
        .btn {
            margin-right: auto;
            margin-left: auto;
        }

        .afterHeaderImg {
            max-width: 26.6rem;
        }

        &__img {
            margin-top: 3rem;
            display: none;
        }

        &__header {
            margin-bottom: 4rem;

            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__list {
            text-align: left;
        }
    }

    .opportunities {
        padding-bottom: 1rem;
    }

    .opportunities__content {
        justify-content: center;
    }

    .opportunities__item {
        max-width: none;
        min-width: 33%;
        margin-bottom: 4rem;
    }

    .why__item {
        flex-direction: column;

        &:nth-child(2n+1) {
            flex-direction: column;

            .why__item--info {
                padding: 0;
            }
        }

        &--info {
            width: 100%;
            padding: 0;
            margin-bottom: 1rem;

        }

        &--header {
            text-align: center;
            margin-bottom: .5rem;
        }

        &--img {
            width: 100%;
        }
    }

    .about {
        &__content {
            // flex-direction: column;
            flex-wrap: wrap;
        }

        &__img {
            width: 100%;

            img {
                max-width: 17rem;
            }
        }

        &__info {
            width: 100%;
        }
    }

    .importance__subtitle {
        font-size: 1.8rem;

        span {
            display: inline;
        }
    }

    .importance__content {
        flex-wrap: wrap;
    }

    .importance__img,
    .importance__info {
        width: 100%;

        img {
            max-width: 40rem;
            width: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .importance__subheader {
        text-align: center;
    }

    .importance__info {
        margin-top: 3rem;
        padding: 0;
    }

    .instruction__subtitle {
        span {
            display: inline;
        }
    }

    .delivery__item--text {
        span {
            display: inline;
        }
    }

    .order__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .order__price {
        margin-bottom: 2rem;
    }

    .order__about {
        left: 0;
    }
    .culculator__result--bottom{
        flex-direction: column;
    }
    .culculator__timer{
        width: 100%;
        margin-bottom: 2rem;
    }
    .culculator__price{
        margin-bottom: 2rem;
    }
        .footer {
        text-align: center;

        .container {
            flex-direction: column;
        }

        &__adress {
            margin: 2rem 0;
            padding: 0;
        }
    }
}

@media (max-width: 576px) {
    .tel {
        &--mobile {
            display: inline-block;
        }

        &--desctop {
            display: none;
        }
    }

    .header__phone {
        span {
            display: none;
        }

        a {
            display: inline-block;
        }
    }

    .main .afterHeaderImg {
        max-width: 18rem;
    }

    .proven {
        padding-top: 3rem;
    }

    .proven__content {
        padding: 0;
    }

    .circle__box {
        opacity: .2;
    }

    .main__content {
        margin-top: 0;
    }

    .main__header {
        margin-top: 3rem;
    }

    .circle__box--dissatisfied {
        left: 10%;
    }

    .princeple__video,
    .instruction__video--box {
        width: 100%;
        height: 27rem;
    }

    .about__bottom--item {
        flex: 0 0 50%;
    }

    .about__btn {
        margin-right: auto;
        margin-left: auto;
        margin-top: 6rem;
    }

    .importance__subheader {
        font-size: 2rem;
    }

    .instruction__subtitle {
        font-size: 1.8rem;
    }

    .opportunities__subtitle,
    .delivery__subtitle,
    .princeple__subtitle,
    .about__subtitle,
    .review__subtitle,
    .instruction__subtitle {
        font-size: 1.7rem;
    }

    .blockHeader {
        font-size: 3rem;
    }

    .delivery__content {
        flex-wrap: wrap;
    }

    .delivery__item {
        width: 50%;
    }
    .thanks__body--img{
        width: 100%;
        max-width: none;
        flex: 0 0 100%;
        opacity: .4;
    }
    .thanks__body--content{
        flex: 0 0 100%;
        width: 90%;
        max-width: none;
        position: absolute;
        top: 20vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .blockHeader{
            &:after{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .thanks__header{
        text-align: center;
        .container{
            text-align: center;
            justify-content: center;
        }
        .header__phone{
            margin: .5rem 0;
        }
    }
    .thanks__body--img img{
        max-width: 17rem;
    }


}

@media (max-width: 480px) {
    .header {
        flex-direction: column;

        &__logo {
            margin-bottom: 1.7rem;
        }
    }

    .blockHeader {
        font-size: 2.5rem;
    }

    .opportunities__item {
        width: 50%;
    }

    .opportunities__subtitle,
    .order__subtitle,
    .princeple__subtitle,
    .about__subtitle,
    .review__subtitle,
    .instruction__subtitle {
        font-size: 1.7rem;
    }

    .order__subtitle {
        margin-bottom: 3rem;
    }

    .review__subtitle {
        padding: 0 15px;
    }

    .princeple__video {
        height: 25rem;
    }

    .about__bottom--item {
        flex: 0 0 100%;
        margin-bottom: 1rem;
    }

    .about__price--text,
    .about__price--old,
    .about__price--new {
        text-align: center;
    }

    .review {
        .container {
            padding: 0;
        }
    }

    .review__item {
        width: 50%;
        padding: 0;
        margin-bottom: 0;

        img {
            width: 100%;
        }
    }

    .instruction__video--box,
    .princeple__video {
        width: 320px;
        position: relative;
        margin-left: -15px;
        height: 22.6rem;
    }

    .order__form {
        width: 100%;
    }

    .order__form--header {
        max-width: 30rem;
    }

    .order__price--old {
        margin-bottom: .2rem;
    }

    .order__price {
        text-align: center;
        margin-right: 0;
    }

    .order__reward {
        flex-wrap: wrap;

        &--item {
            width: 50%;
            margin-right: 0;
            margin-bottom: 2rem;

            img {
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }
    }

    .main {
        padding-bottom: 4rem;
    }
    .popup .btn{
    	width: 100%;
    	max-width: none;
    }
    .culculator__step label{
        display: block;
        margin: 0;
        margin-bottom: 2rem;
        text-align: left;
        padding-left: 3rem;
    }
}

@media (max-width: 320px) {
    .importance__subtitle {
        font-size: 1.7rem;

        span {
            display: block;
        }
    }
}



// .main,
// .proven,
// .dissatisfied,
// .opportunities,
// .culculator,
// .why,
// .princeple,
// .about,
// .importance,
// .review,
// .instruction,
// .delivery,
// .order,
// .footer 
//     {
//     display: none;
// }