/* Icons from directory "" */
.icon-Grohhup,.icon-Grohhup\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-Grohhup-dims{width:73px;height:73px}
.icon-Group-1,.icon-Group-1\:regular{background-image:url('icons/icons.svg');background-position:0 -73px;background-repeat:no-repeat}
.icon-Group-1-dims{width:72px;height:68px}
.icon-Group,.icon-Group\:regular{background-image:url('icons/icons.svg');background-position:0 -141px;background-repeat:no-repeat}
.icon-Group-dims{width:71px;height:71px}
.icon-Vector-1,.icon-Vector-1\:regular{background-image:url('icons/icons.svg');background-position:0 -212px;background-repeat:no-repeat}
.icon-Vector-1-dims{width:66px;height:70px}
.icon-Vector,.icon-Vector\:regular{background-image:url('icons/icons.svg');background-position:0 -282px;background-repeat:no-repeat}
.icon-Vector-dims{width:72px;height:72px}
.icon-agreement,.icon-agreement\:regular{background-image:url('icons/icons.svg');background-position:0 -354px;background-repeat:no-repeat}
.icon-agreement-dims{width:73px;height:73px}
.icon-increase,.icon-increase\:regular{background-image:url('icons/icons.svg');background-position:0 -427px;background-repeat:no-repeat}
.icon-increase-dims{width:73px;height:73px}
.icon-info,.icon-info\:regular{background-image:url('icons/icons.svg');background-position:0 -500px;background-repeat:no-repeat}
.icon-info-dims{width:72px;height:72px}
.icon-path18,.icon-path18\:regular{background-image:url('icons/icons.svg');background-position:0 -572px;background-repeat:no-repeat}
.icon-path18-dims{width:76px;height:71px}
.icon-shopping-cart,.icon-shopping-cart\:regular{background-image:url('icons/icons.svg');background-position:0 -643px;background-repeat:no-repeat}
.icon-shopping-cart-dims{width:75px;height:75px}
.icon-whatsapp-logo,.icon-whatsapp-logo\:regular{background-image:url('icons/icons.svg');background-position:0 -718px;background-repeat:no-repeat}
.icon-whatsapp-logo-dims{width:71px;height:71px}
.icon-yandexdialogs,.icon-yandexdialogs\:regular{background-image:url('icons/icons.svg');background-position:0 -789px;background-repeat:no-repeat}
.icon-yandexdialogs-dims{width:71px;height:73px}